[v-cloak] {
  display: none;
}

* {
  box-sizing: border-box;
}

.display-none {
  display: none;
}

.remove-btn {
  background-color: #f1f1f1;
  color: #da2c2c;
  font-weight: bold;
}

input, textarea, select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
}

.vs__clear {
  box-shadow: none;
}

textarea {
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 12px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #06c4c6;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  outline: none;
  cursor: pointer;
}

button:disabled, button[disabled] {
  background-color: #cccccc;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 20px 0;
}

P {
  font-size: 14px;
  line-height: 22px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.small-text {
  font-size: 12px;
}

#new-appointment {
  display: none;
}

#extra-message a {
  cursor: pointer;
}

#message {
  width: 100%;
  margin-bottom: 14px;
  padding: 10px;
  color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
}
#message p {
  margin: 0;
}
#message a {
  color: white !important;
  text-decoration: underline;
}

.warning {
  background-color: #dc8604;
}

.warning-text-color {
  color: #dc8604;
}

.success {
  background-color: #06c4c6;
}

.success-text-color {
  color: #06c4c6;
}

.pages {
  padding-top: 90px;
}

#nav {
  padding: 20px;
  background-color: white;
  z-index: 999;
  position: fixed;
  width: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  top: 0;
}
#nav .content {
  width: 90%;
}
#nav a {
  color: #1f1f1f;
  font-weight: bold;
}
#nav a i {
  color: #06c4c6;
}
#nav #menu {
  display: flex;
  justify-content: space-between;
}
#nav #menu img {
  width: 200px;
}
#nav #menu #menu-items {
  width: 65%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#nav #menu #menu-items #open-menu {
  cursor: pointer;
}
#nav #menu #menu-items #open-menu:hover {
  color: #06c4c6;
}
#nav #menu #menu-items a {
  margin: 0 20px;
}
#nav #menu #menu-items button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
#nav #menu #menu-items button i {
  color: white;
}

#retractable-menu {
  width: 300px;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  height: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  right: -301px;
  padding: 20px;
  transition: right 0.5s, left 0.5s;
}
#retractable-menu #exit-button {
  margin: 10px 0 30px 0;
  display: flex;
  justify-content: flex-end;
}
#retractable-menu #exit-button i:hover {
  color: #06c4c6;
  cursor: pointer;
}
#retractable-menu #retractable-menu-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}
#retractable-menu #retractable-menu-content a {
  color: #1f1f1f;
  font-weight: bold;
  margin-top: 30px;
}
#retractable-menu #retractable-menu-content a i {
  color: #06c4c6;
}
#retractable-menu #retractable-menu-content button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 100%;
}
#retractable-menu #retractable-menu-content button i {
  color: white;
}

.input-image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.input-image input {
  width: fit-content !important;
}

input#input-image {
  width: 10px !important;
}

.input-image + label {
  color: white;
  background-color: #06c4c6;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  margin-top: 20px;
}

.input-image:focus + label,
.input-image + label:hover {
  background-color: #059294;
  cursor: pointer;
}

.content {
  width: 1260px;
  margin: auto;
}

body {
  background-color: #f1f1f1;
  margin: 0;
  overflow-x: hidden;
}

#notifications-checkbox {
  margin-top: 20px;
}

#terms-of-agreement label {
  margin-bottom: 0;
}

#app, textarea {
  font-family: "Open Sans", sans-serif;
  color: #2c3e50;
}

#verify-account-container {
  width: 900px !important;
  margin: auto;
}
#verify-account-container #verify-account-inner {
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  padding: 40px;
  text-align: center;
}

.remove-btn {
  background-color: #f1f1f1;
  color: #da2c2c;
  font-weight: bold;
}

#profile-container, #edit-password-container, #verify-account {
  margin-top: 100px;
}
#profile-container #profile-form-container, #profile-container #edit-password-form-container, #edit-password-container #profile-form-container, #edit-password-container #edit-password-form-container, #verify-account #profile-form-container, #verify-account #edit-password-form-container {
  width: 600px;
  margin: auto;
}
#profile-container #profile-form-container #profile-form, #profile-container #profile-form-container #edit-password-form, #profile-container #edit-password-form-container #profile-form, #profile-container #edit-password-form-container #edit-password-form, #edit-password-container #profile-form-container #profile-form, #edit-password-container #profile-form-container #edit-password-form, #edit-password-container #edit-password-form-container #profile-form, #edit-password-container #edit-password-form-container #edit-password-form, #verify-account #profile-form-container #profile-form, #verify-account #profile-form-container #edit-password-form, #verify-account #edit-password-form-container #profile-form, #verify-account #edit-password-form-container #edit-password-form {
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  padding: 40px;
}
#profile-container #profile-form-container #profile-form form, #profile-container #profile-form-container #edit-password-form form, #profile-container #edit-password-form-container #profile-form form, #profile-container #edit-password-form-container #edit-password-form form, #edit-password-container #profile-form-container #profile-form form, #edit-password-container #profile-form-container #edit-password-form form, #edit-password-container #edit-password-form-container #profile-form form, #edit-password-container #edit-password-form-container #edit-password-form form, #verify-account #profile-form-container #profile-form form, #verify-account #profile-form-container #edit-password-form form, #verify-account #edit-password-form-container #profile-form form, #verify-account #edit-password-form-container #edit-password-form form {
  display: flex;
  flex-direction: column;
}
#profile-container #profile-form-container #profile-form form #personal-info, #profile-container #profile-form-container #profile-form form #edit-password-inputs, #profile-container #profile-form-container #edit-password-form form #personal-info, #profile-container #profile-form-container #edit-password-form form #edit-password-inputs, #profile-container #edit-password-form-container #profile-form form #personal-info, #profile-container #edit-password-form-container #profile-form form #edit-password-inputs, #profile-container #edit-password-form-container #edit-password-form form #personal-info, #profile-container #edit-password-form-container #edit-password-form form #edit-password-inputs, #edit-password-container #profile-form-container #profile-form form #personal-info, #edit-password-container #profile-form-container #profile-form form #edit-password-inputs, #edit-password-container #profile-form-container #edit-password-form form #personal-info, #edit-password-container #profile-form-container #edit-password-form form #edit-password-inputs, #edit-password-container #edit-password-form-container #profile-form form #personal-info, #edit-password-container #edit-password-form-container #profile-form form #edit-password-inputs, #edit-password-container #edit-password-form-container #edit-password-form form #personal-info, #edit-password-container #edit-password-form-container #edit-password-form form #edit-password-inputs, #verify-account #profile-form-container #profile-form form #personal-info, #verify-account #profile-form-container #profile-form form #edit-password-inputs, #verify-account #profile-form-container #edit-password-form form #personal-info, #verify-account #profile-form-container #edit-password-form form #edit-password-inputs, #verify-account #edit-password-form-container #profile-form form #personal-info, #verify-account #edit-password-form-container #profile-form form #edit-password-inputs, #verify-account #edit-password-form-container #edit-password-form form #personal-info, #verify-account #edit-password-form-container #edit-password-form form #edit-password-inputs {
  display: flex;
}
#profile-container #profile-form-container #profile-form form #personal-info .form-half, #profile-container #profile-form-container #profile-form form #edit-password-inputs .form-half, #profile-container #profile-form-container #edit-password-form form #personal-info .form-half, #profile-container #profile-form-container #edit-password-form form #edit-password-inputs .form-half, #profile-container #edit-password-form-container #profile-form form #personal-info .form-half, #profile-container #edit-password-form-container #profile-form form #edit-password-inputs .form-half, #profile-container #edit-password-form-container #edit-password-form form #personal-info .form-half, #profile-container #edit-password-form-container #edit-password-form form #edit-password-inputs .form-half, #edit-password-container #profile-form-container #profile-form form #personal-info .form-half, #edit-password-container #profile-form-container #profile-form form #edit-password-inputs .form-half, #edit-password-container #profile-form-container #edit-password-form form #personal-info .form-half, #edit-password-container #profile-form-container #edit-password-form form #edit-password-inputs .form-half, #edit-password-container #edit-password-form-container #profile-form form #personal-info .form-half, #edit-password-container #edit-password-form-container #profile-form form #edit-password-inputs .form-half, #edit-password-container #edit-password-form-container #edit-password-form form #personal-info .form-half, #edit-password-container #edit-password-form-container #edit-password-form form #edit-password-inputs .form-half, #verify-account #profile-form-container #profile-form form #personal-info .form-half, #verify-account #profile-form-container #profile-form form #edit-password-inputs .form-half, #verify-account #profile-form-container #edit-password-form form #personal-info .form-half, #verify-account #profile-form-container #edit-password-form form #edit-password-inputs .form-half, #verify-account #edit-password-form-container #profile-form form #personal-info .form-half, #verify-account #edit-password-form-container #profile-form form #edit-password-inputs .form-half, #verify-account #edit-password-form-container #edit-password-form form #personal-info .form-half, #verify-account #edit-password-form-container #edit-password-form form #edit-password-inputs .form-half {
  width: 50%;
  margin-right: 5px;
}
#profile-container #profile-form-container #profile-form form #personal-info .form-half input, #profile-container #profile-form-container #profile-form form #edit-password-inputs .form-half input, #profile-container #profile-form-container #edit-password-form form #personal-info .form-half input, #profile-container #profile-form-container #edit-password-form form #edit-password-inputs .form-half input, #profile-container #edit-password-form-container #profile-form form #personal-info .form-half input, #profile-container #edit-password-form-container #profile-form form #edit-password-inputs .form-half input, #profile-container #edit-password-form-container #edit-password-form form #personal-info .form-half input, #profile-container #edit-password-form-container #edit-password-form form #edit-password-inputs .form-half input, #edit-password-container #profile-form-container #profile-form form #personal-info .form-half input, #edit-password-container #profile-form-container #profile-form form #edit-password-inputs .form-half input, #edit-password-container #profile-form-container #edit-password-form form #personal-info .form-half input, #edit-password-container #profile-form-container #edit-password-form form #edit-password-inputs .form-half input, #edit-password-container #edit-password-form-container #profile-form form #personal-info .form-half input, #edit-password-container #edit-password-form-container #profile-form form #edit-password-inputs .form-half input, #edit-password-container #edit-password-form-container #edit-password-form form #personal-info .form-half input, #edit-password-container #edit-password-form-container #edit-password-form form #edit-password-inputs .form-half input, #verify-account #profile-form-container #profile-form form #personal-info .form-half input, #verify-account #profile-form-container #profile-form form #edit-password-inputs .form-half input, #verify-account #profile-form-container #edit-password-form form #personal-info .form-half input, #verify-account #profile-form-container #edit-password-form form #edit-password-inputs .form-half input, #verify-account #edit-password-form-container #profile-form form #personal-info .form-half input, #verify-account #edit-password-form-container #profile-form form #edit-password-inputs .form-half input, #verify-account #edit-password-form-container #edit-password-form form #personal-info .form-half input, #verify-account #edit-password-form-container #edit-password-form form #edit-password-inputs .form-half input {
  width: 100%;
}
#profile-container #profile-form-container #profile-form form #personal-info .form-half:first-child, #profile-container #profile-form-container #profile-form form #edit-password-inputs .form-half:first-child, #profile-container #profile-form-container #edit-password-form form #personal-info .form-half:first-child, #profile-container #profile-form-container #edit-password-form form #edit-password-inputs .form-half:first-child, #profile-container #edit-password-form-container #profile-form form #personal-info .form-half:first-child, #profile-container #edit-password-form-container #profile-form form #edit-password-inputs .form-half:first-child, #profile-container #edit-password-form-container #edit-password-form form #personal-info .form-half:first-child, #profile-container #edit-password-form-container #edit-password-form form #edit-password-inputs .form-half:first-child, #edit-password-container #profile-form-container #profile-form form #personal-info .form-half:first-child, #edit-password-container #profile-form-container #profile-form form #edit-password-inputs .form-half:first-child, #edit-password-container #profile-form-container #edit-password-form form #personal-info .form-half:first-child, #edit-password-container #profile-form-container #edit-password-form form #edit-password-inputs .form-half:first-child, #edit-password-container #edit-password-form-container #profile-form form #personal-info .form-half:first-child, #edit-password-container #edit-password-form-container #profile-form form #edit-password-inputs .form-half:first-child, #edit-password-container #edit-password-form-container #edit-password-form form #personal-info .form-half:first-child, #edit-password-container #edit-password-form-container #edit-password-form form #edit-password-inputs .form-half:first-child, #verify-account #profile-form-container #profile-form form #personal-info .form-half:first-child, #verify-account #profile-form-container #profile-form form #edit-password-inputs .form-half:first-child, #verify-account #profile-form-container #edit-password-form form #personal-info .form-half:first-child, #verify-account #profile-form-container #edit-password-form form #edit-password-inputs .form-half:first-child, #verify-account #edit-password-form-container #profile-form form #personal-info .form-half:first-child, #verify-account #edit-password-form-container #profile-form form #edit-password-inputs .form-half:first-child, #verify-account #edit-password-form-container #edit-password-form form #personal-info .form-half:first-child, #verify-account #edit-password-form-container #edit-password-form form #edit-password-inputs .form-half:first-child {
  margin-right: 5px;
}
#profile-container #profile-form-container #profile-form form #personal-info .form-half:last-child, #profile-container #profile-form-container #profile-form form #edit-password-inputs .form-half:last-child, #profile-container #profile-form-container #edit-password-form form #personal-info .form-half:last-child, #profile-container #profile-form-container #edit-password-form form #edit-password-inputs .form-half:last-child, #profile-container #edit-password-form-container #profile-form form #personal-info .form-half:last-child, #profile-container #edit-password-form-container #profile-form form #edit-password-inputs .form-half:last-child, #profile-container #edit-password-form-container #edit-password-form form #personal-info .form-half:last-child, #profile-container #edit-password-form-container #edit-password-form form #edit-password-inputs .form-half:last-child, #edit-password-container #profile-form-container #profile-form form #personal-info .form-half:last-child, #edit-password-container #profile-form-container #profile-form form #edit-password-inputs .form-half:last-child, #edit-password-container #profile-form-container #edit-password-form form #personal-info .form-half:last-child, #edit-password-container #profile-form-container #edit-password-form form #edit-password-inputs .form-half:last-child, #edit-password-container #edit-password-form-container #profile-form form #personal-info .form-half:last-child, #edit-password-container #edit-password-form-container #profile-form form #edit-password-inputs .form-half:last-child, #edit-password-container #edit-password-form-container #edit-password-form form #personal-info .form-half:last-child, #edit-password-container #edit-password-form-container #edit-password-form form #edit-password-inputs .form-half:last-child, #verify-account #profile-form-container #profile-form form #personal-info .form-half:last-child, #verify-account #profile-form-container #profile-form form #edit-password-inputs .form-half:last-child, #verify-account #profile-form-container #edit-password-form form #personal-info .form-half:last-child, #verify-account #profile-form-container #edit-password-form form #edit-password-inputs .form-half:last-child, #verify-account #edit-password-form-container #profile-form form #personal-info .form-half:last-child, #verify-account #edit-password-form-container #profile-form form #edit-password-inputs .form-half:last-child, #verify-account #edit-password-form-container #edit-password-form form #personal-info .form-half:last-child, #verify-account #edit-password-form-container #edit-password-form form #edit-password-inputs .form-half:last-child {
  margin-left: 5px;
}
#profile-container #profile-form-container #profile-form form .form-half, #profile-container #profile-form-container #edit-password-form form .form-half, #profile-container #edit-password-form-container #profile-form form .form-half, #profile-container #edit-password-form-container #edit-password-form form .form-half, #edit-password-container #profile-form-container #profile-form form .form-half, #edit-password-container #profile-form-container #edit-password-form form .form-half, #edit-password-container #edit-password-form-container #profile-form form .form-half, #edit-password-container #edit-password-form-container #edit-password-form form .form-half, #verify-account #profile-form-container #profile-form form .form-half, #verify-account #profile-form-container #edit-password-form form .form-half, #verify-account #edit-password-form-container #profile-form form .form-half, #verify-account #edit-password-form-container #edit-password-form form .form-half {
  display: flex;
}
#profile-container #profile-form-container #profile-form form a, #profile-container #profile-form-container #edit-password-form form a, #profile-container #edit-password-form-container #profile-form form a, #profile-container #edit-password-form-container #edit-password-form form a, #edit-password-container #profile-form-container #profile-form form a, #edit-password-container #profile-form-container #edit-password-form form a, #edit-password-container #edit-password-form-container #profile-form form a, #edit-password-container #edit-password-form-container #edit-password-form form a, #verify-account #profile-form-container #profile-form form a, #verify-account #profile-form-container #edit-password-form form a, #verify-account #edit-password-form-container #profile-form form a, #verify-account #edit-password-form-container #edit-password-form form a {
  font-weight: bold;
  color: #06c4c6;
  font-size: 14px;
}
#profile-container #profile-form-container #profile-form form #lower-buttons, #profile-container #profile-form-container #edit-password-form form #lower-buttons, #profile-container #edit-password-form-container #profile-form form #lower-buttons, #profile-container #edit-password-form-container #edit-password-form form #lower-buttons, #edit-password-container #profile-form-container #profile-form form #lower-buttons, #edit-password-container #profile-form-container #edit-password-form form #lower-buttons, #edit-password-container #edit-password-form-container #profile-form form #lower-buttons, #edit-password-container #edit-password-form-container #edit-password-form form #lower-buttons, #verify-account #profile-form-container #profile-form form #lower-buttons, #verify-account #profile-form-container #edit-password-form form #lower-buttons, #verify-account #edit-password-form-container #profile-form form #lower-buttons, #verify-account #edit-password-form-container #edit-password-form form #lower-buttons {
  display: flex;
  justify-content: space-between;
}
#profile-container #profile-form-container #profile-form form #lower-buttons #remove-account, #profile-container #profile-form-container #edit-password-form form #lower-buttons #remove-account, #profile-container #edit-password-form-container #profile-form form #lower-buttons #remove-account, #profile-container #edit-password-form-container #edit-password-form form #lower-buttons #remove-account, #edit-password-container #profile-form-container #profile-form form #lower-buttons #remove-account, #edit-password-container #profile-form-container #edit-password-form form #lower-buttons #remove-account, #edit-password-container #edit-password-form-container #profile-form form #lower-buttons #remove-account, #edit-password-container #edit-password-form-container #edit-password-form form #lower-buttons #remove-account, #verify-account #profile-form-container #profile-form form #lower-buttons #remove-account, #verify-account #profile-form-container #edit-password-form form #lower-buttons #remove-account, #verify-account #edit-password-form-container #profile-form form #lower-buttons #remove-account, #verify-account #edit-password-form-container #edit-password-form form #lower-buttons #remove-account {
  background-color: #f1f1f1;
  color: #da2c2c;
  font-weight: bold;
}
#profile-container #profile-form-container #profile-form form #lower-buttons button, #profile-container #profile-form-container #edit-password-form form #lower-buttons button, #profile-container #edit-password-form-container #profile-form form #lower-buttons button, #profile-container #edit-password-form-container #edit-password-form form #lower-buttons button, #edit-password-container #profile-form-container #profile-form form #lower-buttons button, #edit-password-container #profile-form-container #edit-password-form form #lower-buttons button, #edit-password-container #edit-password-form-container #profile-form form #lower-buttons button, #edit-password-container #edit-password-form-container #edit-password-form form #lower-buttons button, #verify-account #profile-form-container #profile-form form #lower-buttons button, #verify-account #profile-form-container #edit-password-form form #lower-buttons button, #verify-account #edit-password-form-container #profile-form form #lower-buttons button, #verify-account #edit-password-form-container #edit-password-form form #lower-buttons button {
  width: fit-content;
}
#profile-container #profile-form-container #profile-form form #info, #profile-container #profile-form-container #edit-password-form form #info, #profile-container #edit-password-form-container #profile-form form #info, #profile-container #edit-password-form-container #edit-password-form form #info, #edit-password-container #profile-form-container #profile-form form #info, #edit-password-container #profile-form-container #edit-password-form form #info, #edit-password-container #edit-password-form-container #profile-form form #info, #edit-password-container #edit-password-form-container #edit-password-form form #info, #verify-account #profile-form-container #profile-form form #info, #verify-account #profile-form-container #edit-password-form form #info, #verify-account #edit-password-form-container #profile-form form #info, #verify-account #edit-password-form-container #edit-password-form form #info {
  width: 100%;
}
#profile-container #profile-form-container #profile-form form #info input[type=text], #profile-container #profile-form-container #edit-password-form form #info input[type=text], #profile-container #edit-password-form-container #profile-form form #info input[type=text], #profile-container #edit-password-form-container #edit-password-form form #info input[type=text], #edit-password-container #profile-form-container #profile-form form #info input[type=text], #edit-password-container #profile-form-container #edit-password-form form #info input[type=text], #edit-password-container #edit-password-form-container #profile-form form #info input[type=text], #edit-password-container #edit-password-form-container #edit-password-form form #info input[type=text], #verify-account #profile-form-container #profile-form form #info input[type=text], #verify-account #profile-form-container #edit-password-form form #info input[type=text], #verify-account #edit-password-form-container #profile-form form #info input[type=text], #verify-account #edit-password-form-container #edit-password-form form #info input[type=text] {
  width: 100%;
}
#profile-container #profile-form-container #profile-form form #info div, #profile-container #profile-form-container #edit-password-form form #info div, #profile-container #edit-password-form-container #profile-form form #info div, #profile-container #edit-password-form-container #edit-password-form form #info div, #edit-password-container #profile-form-container #profile-form form #info div, #edit-password-container #profile-form-container #edit-password-form form #info div, #edit-password-container #edit-password-form-container #profile-form form #info div, #edit-password-container #edit-password-form-container #edit-password-form form #info div, #verify-account #profile-form-container #profile-form form #info div, #verify-account #profile-form-container #edit-password-form form #info div, #verify-account #edit-password-form-container #profile-form form #info div, #verify-account #edit-password-form-container #edit-password-form form #info div {
  margin-top: 20px;
}
#profile-container #profile-form-container #profile-form form button, #profile-container #profile-form-container #edit-password-form form button, #profile-container #edit-password-form-container #profile-form form button, #profile-container #edit-password-form-container #edit-password-form form button, #edit-password-container #profile-form-container #profile-form form button, #edit-password-container #profile-form-container #edit-password-form form button, #edit-password-container #edit-password-form-container #profile-form form button, #edit-password-container #edit-password-form-container #edit-password-form form button, #verify-account #profile-form-container #profile-form form button, #verify-account #profile-form-container #edit-password-form form button, #verify-account #edit-password-form-container #profile-form form button, #verify-account #edit-password-form-container #edit-password-form form button {
  width: 100px;
  align-self: flex-end;
}
#profile-container #profile-form-container #profile-form form #lower-buttons, #profile-container #profile-form-container #edit-password-form form #lower-buttons, #profile-container #edit-password-form-container #profile-form form #lower-buttons, #profile-container #edit-password-form-container #edit-password-form form #lower-buttons, #edit-password-container #profile-form-container #profile-form form #lower-buttons, #edit-password-container #profile-form-container #edit-password-form form #lower-buttons, #edit-password-container #edit-password-form-container #profile-form form #lower-buttons, #edit-password-container #edit-password-form-container #edit-password-form form #lower-buttons, #verify-account #profile-form-container #profile-form form #lower-buttons, #verify-account #profile-form-container #edit-password-form form #lower-buttons, #verify-account #edit-password-form-container #profile-form form #lower-buttons, #verify-account #edit-password-form-container #edit-password-form form #lower-buttons {
  margin-top: 50px;
}

#edit-password-container #edit-password-form-container #edit-password-form #edit-password-inputs {
  flex-wrap: wrap;
  width: 100%;
}
#edit-password-container #edit-password-form-container #edit-password-form #edit-password-inputs div {
  width: 100%;
  margin-top: 20px;
}
#edit-password-container #edit-password-form-container #edit-password-form #edit-password-inputs div input {
  width: 100%;
}
#edit-password-container #edit-password-form-container #edit-password-form #lower-buttons {
  justify-content: flex-end !important;
}

#login-container, #register-container, #reset-password-container {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#login-container #login-message-container, #login-container #register-message-container, #login-container #reset-password-message-container, #register-container #login-message-container, #register-container #register-message-container, #register-container #reset-password-message-container, #reset-password-container #login-message-container, #reset-password-container #register-message-container, #reset-password-container #reset-password-message-container {
  width: 480px;
}
#login-container #login-form-container, #login-container #register-form-container, #login-container #reset-password-form-container, #register-container #login-form-container, #register-container #register-form-container, #register-container #reset-password-form-container, #reset-password-container #login-form-container, #reset-password-container #register-form-container, #reset-password-container #reset-password-form-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  padding: 40px;
}
#login-container input, #register-container input, #reset-password-container input {
  margin-top: 20px;
  width: 100%;
}
#login-container h1, #register-container h1, #reset-password-container h1 {
  margin-bottom: 0;
}
#login-container #reset-password, #register-container #reset-password, #reset-password-container #reset-password {
  margin-top: 0;
}
#login-container a, #register-container a, #reset-password-container a {
  color: #06c4c6;
  font-weight: bold;
}
#login-container form, #register-container form, #reset-password-container form {
  display: flex;
  flex-direction: column;
}
#login-container button, #register-container button, #reset-password-container button {
  width: fit-content;
  align-self: flex-end;
  margin-top: 20px;
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity 0.3s ease;
}

.component-fade-enter, .component-fade-leave-to {
  opacity: 0;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 20px;
  width: fit-content;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 5px;
}
.checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox :hover {
  background-color: #ccc;
}
.checkbox :checked ~ .checkmark {
  background-color: #06c4c6;
}
.checkbox :checked ~ .checkmark:after {
  display: block;
}
.checkbox :after {
  content: "";
  position: absolute;
  display: none;
}

.shimmer {
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.skeleton-container {
  width: 25%;
  padding: 10px;
}
.skeleton-container .skeleton-inner {
  background-color: #ffffffba;
}
.skeleton-container .skeleton-inner .skeleton-upper {
  background-color: #f7f7f7;
  width: 100%;
  height: 165px;
}
.skeleton-container .skeleton-inner .skeleton-lower {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.skeleton-container .skeleton-inner .skeleton-lower div {
  margin-bottom: 10px;
}
.skeleton-container .skeleton-inner .skeleton-lower div:last-child {
  margin-bottom: 0;
}
.skeleton-container .skeleton-inner .skeleton-lower .skeleton-title {
  width: 60%;
  height: 23px;
  background-color: #f7f7f7;
}
.skeleton-container .skeleton-inner .skeleton-lower .skeleton-time {
  width: 40%;
  height: 18px;
  background-color: #f7f7f7;
}
.skeleton-container .skeleton-inner .skeleton-lower .skeleton-location {
  width: 20%;
  height: 18px;
  background-color: #f7f7f7;
}
.skeleton-container .skeleton-inner .skeleton-lower .skeleton-description {
  width: 100%;
  margin-bottom: 5px;
  height: 10px;
  background-color: #f7f7f7;
}
.skeleton-container .skeleton-inner .skeleton-lower .skeleton-button-group {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.skeleton-container .skeleton-inner .skeleton-lower .skeleton-button-group .skeleton-button {
  width: 25%;
  height: 45px;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 0;
}
.skeleton-container .skeleton-inner .skeleton-lower .skeleton-button-group .skeleton-button-status {
  margin-top: 0;
  width: 30%;
  height: 10px;
  background-color: #f7f7f7;
}

#dashboard .content {
  margin-top: 30px;
}
#dashboard .content .events-container, #dashboard .content #real-events-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#dashboard .content .events-container a, #dashboard .content #real-events-container a {
  text-decoration: none;
  color: #1a1a1a;
}
#dashboard .content .events-container .event-container, #dashboard .content #real-events-container .event-container {
  width: 25%;
  padding: 10px;
}
#dashboard .content .events-container .event-container .event-availability-container, #dashboard .content #real-events-container .event-container .event-availability-container {
  height: 450px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
}
#dashboard .content .events-container .event-container .event-availability-container .event, #dashboard .content #real-events-container .event-container .event-availability-container .event {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#dashboard .content .events-container .event-container .event-availability-container .event img, #dashboard .content #real-events-container .event-container .event-availability-container .event img {
  width: 100%;
  height: 180px;
}
#dashboard .content .events-container .event-container .event-availability-container .event .event-upper, #dashboard .content #real-events-container .event-container .event-availability-container .event .event-upper {
  width: 100%;
  margin-bottom: 0;
  background-color: white;
  display: flex;
  align-items: flex-end;
  position: relative;
}
#dashboard .content .events-container .event-container .event-availability-container .event .edit-container, #dashboard .content #real-events-container .event-container .event-availability-container .event .edit-container {
  position: absolute;
  align-self: flex-start;
  right: 0;
}
#dashboard .content .events-container .event-container .event-availability-container .event .edit-container .edit, #dashboard .content #real-events-container .event-container .event-availability-container .event .edit-container .edit {
  padding: 5px;
  margin: 5px;
  color: white;
  background-color: #06c4c6;
  border-radius: 5px;
  opacity: 0.5;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
}
#dashboard .content .events-container .event-container .event-availability-container .event .edit-container .edit:hover, #dashboard .content #real-events-container .event-container .event-availability-container .event .edit-container .edit:hover {
  opacity: 1;
}
#dashboard .content .events-container .event-container .event-availability-container .event .date, #dashboard .content #real-events-container .event-container .event-availability-container .event .date {
  position: absolute;
  padding: 10px;
  color: white;
  background-color: #06c4c6;
  font-weight: bold;
}
#dashboard .content .events-container .event-container .event-availability-container .event .event-lower, #dashboard .content #real-events-container .event-container .event-availability-container .event .event-lower {
  background-color: white;
  padding: 10px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#dashboard .content .events-container .event-container .event-availability-container .event .event-lower .availability, #dashboard .content #real-events-container .event-container .event-availability-container .event .event-lower .availability {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
}
#dashboard .content .events-container .event-container .event-availability-container .event .event-lower .availability button, #dashboard .content #real-events-container .event-container .event-availability-container .event .event-lower .availability button {
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 10px 20px;
}
#dashboard .content .events-container .event-container .event-availability-container .event .event-lower div, #dashboard .content #real-events-container .event-container .event-availability-container .event .event-lower div {
  margin-top: 5px;
}
#dashboard .content .events-container .event-container .event-availability-container .event .event-title, #dashboard .content #real-events-container .event-container .event-availability-container .event .event-title {
  font-weight: bold;
  font-size: 20px;
}
#dashboard .content .events-container .event-container .event-availability-container .event .event-location, #dashboard .content #real-events-container .event-container .event-availability-container .event .event-location {
  margin-bottom: 20px;
}

.choices {
  display: flex;
  background-color: white;
  margin-top: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  padding: 10px;
  justify-content: space-between;
  width: 50%;
}
.choices button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 0;
  margin: 0 5px;
  background-color: #cccccc;
}
.choices :disabled {
  background-color: #06c4c6;
}

#invited {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.user-row {
  width: 49%;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.user-row i {
  margin-left: 5px;
  width: 15px;
  text-align: center;
}
.user-row .user-info {
  display: flex;
  width: 70%;
}
.user-row .user-info .initials {
  background-color: #06c4c6;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
#comments h1 {
  margin: 0;
  padding: 20px 0;
}
#comments .user-comment {
  background-color: white;
  padding: 20px;
  width: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;
  border-radius: 10px;
}

#add-modal {
  background-color: blue;
  width: 500px;
  height: 300px;
  position: absolute;
  margin: auto;
}

.ghost {
  position: absolute;
}

.ghost-drag {
  opacity: 1 !important;
  background-color: white;
}

#to-do-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 700px;
}
#to-do-list-container .disabled {
  background-color: #cccccc;
  cursor: auto;
}
#to-do-list-container .input {
  display: flex;
  flex-direction: column;
}
#to-do-list-container label {
  margin-bottom: 5px;
}
#to-do-list-container input {
  width: 100%;
  margin-bottom: 20px;
}
#to-do-list-container textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
  min-height: 100px;
}
#to-do-list-container #list-container-header {
  display: flex;
  height: 20%;
}
#to-do-list-container #list-container-header .list-container-header-title {
  width: 33%;
  margin: 5px;
}
#to-do-list-container #list-container {
  overflow-y: scroll;
  min-height: 80%;
}
#to-do-list-container #list-container #categories-container {
  display: flex;
  height: fit-content;
  min-height: 100%;
}
#to-do-list-container #list-container #categories-container .list-category-container {
  width: 33%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
}
#to-do-list-container #list-container #categories-container .list-category-container .drag-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #e4fdfd;
  border: 3px dashed #06c4c6;
  display: none;
}
#to-do-list-container #list-container #categories-container .list-category-container .active {
  background-color: #d7f9cd;
  border: 3px dashed #06c61e;
}
#to-do-list-container #list-container #categories-container .list-category-container .list-category {
  height: 100%;
}
#to-do-list-container #list-container #categories-container .list-category-container .list-category .list-item {
  width: 100%;
  margin: 2px;
  padding: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  cursor: grab;
  display: flex;
  justify-content: space-between;
}
#to-do-list-container #list-container #categories-container .list-category-container .list-category .list-item i {
  cursor: pointer;
  width: 10px;
  text-align: center;
}
#to-do-list-container #list-container #categories-container .list-category-container .list-category .list-item i:hover {
  color: #06c4c6;
}

#event-container-outer {
  position: relative;
}
#event-container-outer .main-view {
  padding-bottom: 50px;
}

#event-menu {
  width: 80px;
  background-color: white;
  top: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
}
#event-menu #event-menu-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
}
#event-menu #event-menu-items .event-menu-item {
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
#event-menu #event-menu-items .event-menu-item:first-child {
  margin-top: 40px;
}
#event-menu #event-menu-items .active {
  background-color: #f1f1f1;
  color: #06c4c6;
}

#event-container {
  width: 1260px;
  margin: auto;
}
#event-container #header {
  padding-top: 30px;
}
#event-container #header h1 {
  margin-top: 0;
}
#event-container #event-container-inner {
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  display: flex;
}
#event-container #event-container-inner #event-img {
  width: 50%;
}
#event-container #event-container-inner #event-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#event-container #event-container-inner #event-details {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
#event-container #event-container-inner #event-details #icons-top, #event-container #event-container-inner #event-details #description {
  margin-bottom: 30px;
}
#event-container #event-container-inner #event-details p {
  margin: 0;
}
#event-container #event-container-inner #event-details #event-details-upper {
  display: flex;
  margin-top: 10px;
  width: 100%;
}
#event-container #event-container-inner #event-details #event-details-upper ul li {
  margin: 10px 0;
}
#event-container #event-container-inner #event-details #event-details-upper ul li i {
  color: #06c4c6;
  width: 30px;
  text-align: center;
}
#event-container #event-container-inner #event-details #event-details-upper #event-details-icons {
  width: 77%;
}
#event-container #event-container-inner #event-details #event-details-upper #event-details-status {
  display: flex;
  flex-direction: column;
  width: 23%;
  align-items: flex-end;
}
#event-container #event-container-inner #event-details #event-details-upper #event-details-status #status-details {
  width: 100%;
  text-align: center;
}
#event-container #event-container-inner #event-details #event-details-upper #event-details-status .choices {
  padding: 0;
  width: 100%;
  box-shadow: none;
  margin: 5px 0 0 0;
}
#event-container #event-details-lower {
  display: flex;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  padding: 20px;
  margin-top: 20px;
}
#event-container #event-details-lower #remarks-form {
  width: 100%;
  margin: 0;
}
#event-container #event-details-lower #remarks-form #remarks {
  margin: 0;
}
#event-container #event-details-lower #remarks-form #remarks textarea {
  width: 100%;
}
#event-container #event-details-lower form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
#event-container #event-details-lower form textarea {
  max-width: 100%;
  max-height: 120px;
  min-height: 120px;
}
#event-container #event-details-lower form button {
  width: 80px;
  margin-top: 10px;
  align-self: flex-end;
}
#event-container #event-details-lower form #remarks {
  margin-right: 5px;
}

#step-counter {
  display: flex;
  justify-content: center;
  align-items: center;
}
#step-counter .step-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
#step-counter .step {
  border: 2px solid #06c4c6;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
}
#step-counter .stepActive {
  color: white;
  background-color: #06c4c6;
  border: none;
}
#step-counter .stepOver {
  color: white;
  background-color: #d2d2d2;
  border: none;
}
#step-counter .divider {
  height: 4px;
  width: 20px;
  overflow: hidden;
  margin: 0 10px;
  stroke: #06c4c6;
  stroke-width: 4;
}

.step {
  border: 2px solid #06c4c6;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
}
.step i {
  color: #06c4c6;
}

.step-warning {
  border: 2px solid #da2c2c;
}
.step-warning i {
  color: #da2c2c;
}

.vdp-datepicker {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  width: fit-content;
}
.vdp-datepicker .vdp-datepicker__calendar {
  border-radius: 5px;
}
.vdp-datepicker .vdp-datepicker__calendar .cell.selected {
  background: #06c4c6;
  color: white;
  border-radius: 5px;
}

#timepicker-container ::-webkit-scrollbar, #time ::-webkit-scrollbar {
  display: none;
}
#timepicker-container .vtimeselector__input, #time .vtimeselector__input {
  outline: none;
  cursor: pointer;
}
#timepicker-container .timeselector__box__item--is-selected, #time .timeselector__box__item--is-selected {
  background: #06c4c6;
}

#presetForm div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
#presetForm input {
  width: 100%;
}

#save-overwrite-preset {
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  width: 100%;
  padding: 20px;
}

#new-event-container {
  width: 100%;
}
#new-event-container #content {
  width: 1260px;
  margin: auto;
}
#new-event-container #content #new-event {
  width: 50%;
  margin: auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  margin-top: 50px;
}
#new-event-container #content #new-event .container {
  padding: 20px;
}
#new-event-container #content #new-event #presetStep h2 {
  text-align: center;
}
#new-event-container #content #new-event #step1 {
  margin-top: 30px;
}
#new-event-container #content #new-event #step1 .carousel {
  margin-top: 5px;
}
#new-event-container #content #new-event #step1 .owl-dot {
  border: none;
  box-shadow: none;
}
#new-event-container #content #new-event #step1 .owl-theme .owl-nav {
  display: flex;
  justify-content: space-between;
}
#new-event-container #content #new-event #step1 .owl-theme .owl-nav [class*=owl-] {
  background: none;
  color: #06c4c6;
}
#new-event-container #content #new-event #step1 .owl-stage {
  height: 100%;
}
#new-event-container #content #new-event #step1 .owl-stage .owl-item {
  object-fit: cover;
  height: 125px;
}
#new-event-container #content #new-event #step1 .owl-stage .owl-item .carousel-item {
  height: 100%;
  position: relative;
}
#new-event-container #content #new-event #step1 .owl-stage .owl-item .carousel-item img {
  object-fit: cover;
  border-radius: 5px;
  height: 100%;
}
#new-event-container #content #new-event #step1 .owl-stage .owl-item .carousel-item .carousel-item-overlay {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
#new-event-container #content #new-event #step1 .owl-stage .owl-item .carousel-item .carousel-item-overlay .overlay-content {
  background-color: #0000002e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  cursor: pointer;
}
#new-event-container #content #new-event #step1 .owl-stage .owl-item .carousel-item .carousel-item-overlay .overlay-content i {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
}
#new-event-container #content #new-event #step1 > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
#new-event-container #content #new-event #step1 > div input {
  margin-top: 5px;
  width: 100%;
}
#new-event-container #content #new-event #step1 > div textarea {
  margin-top: 5px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
}
#new-event-container #content #new-event #step2 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
#new-event-container #content #new-event #step3 .time-range-picker {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#new-event-container #content #new-event #step3 .time-range-picker .time-boxes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#new-event-container #content #new-event #step3 .time-range-picker .time-boxes .time-from, #new-event-container #content #new-event #step3 .time-range-picker .time-boxes .time-to {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#new-event-container #content #new-event #step3 .time-range-picker .time-boxes .time-select {
  width: 80%;
}
#new-event-container #content #new-event #location-container, #new-event-container #content #new-event #users-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
}
#new-event-container #content #new-event #location-container input, #new-event-container #content #new-event #users-container input {
  width: 100%;
}
#new-event-container #content #new-event #users-container {
  flex-direction: row;
}
#new-event-container #content #new-event #users-container div {
  width: 90%;
}
#new-event-container #content #new-event #users-container button {
  width: 37px;
  height: 37px;
  padding: 0;
  align-self: flex-end;
  margin-left: 5px;
}
#new-event-container #content #new-event #invited-users-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}
#new-event-container #content #new-event #invited-users-list .user-row {
  width: 100%;
  background-color: #06c4c6;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
}
#new-event-container #content #new-event #invited-users-list .user-row .deleteAction {
  margin-right: 20px;
}
#new-event-container #content #new-event #invited-users-list .user-row .disabledIcon {
  margin-right: 20px;
}
#new-event-container #content #new-event #invited-users-list .user-row .user-info {
  align-items: center;
}
#new-event-container #content #new-event #invited-users-list .user-row .user-info p {
  font-size: 15px;
}
#new-event-container #content #new-event #invited-users-list .user-row .user-info .initials {
  background-color: rgba(0, 0, 0, 0.13);
  border-radius: 5px 0 0 5px;
  color: #06c4c6;
  box-shadow: none;
  height: 50px;
  width: 50px;
}
#new-event-container #content #new-event #invited-users-list .disabled {
  background-color: #cccccc;
  cursor: auto;
}
#new-event-container #content #new-event #invited-users-list .disabled .user-info .initials {
  color: white;
}
#new-event-container #content #new-event .finished-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#new-event-container #content #new-event .finished-header a {
  color: #059294;
  font-weight: bold;
}
#new-event-container #content #new-event #buttons-form {
  margin-top: 30px;
  display: inline-flex;
  width: 100%;
}
#new-event-container #content #new-event #buttons-form #button-left {
  width: 50%;
}
#new-event-container #content #new-event #buttons-form #button-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.vtimeselector__box {
  border: 1px solid #cccccc;
  border-top: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

#map-and-directions {
  padding-top: 50px;
  width: 100%;
  height: 700px;
}
#map-and-directions #map-directions-container {
  width: 100%;
  display: flex;
}
#map-and-directions #map-directions-container #location-selector {
  width: 30%;
  margin-left: 20px;
}
#map-and-directions #map-directions-container #location-selector #location-input {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
}
#map-and-directions #map-directions-container #location-selector #location-info {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  width: 100%;
}
#map-and-directions #map-directions-container #location-selector #location-info h2 {
  text-align: center;
}
#map-and-directions #map-directions-container #location-selector #location-info #to-from-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#map-and-directions #map-directions-container #location-selector #location-info #to-from-container .location-item {
  display: flex;
}
#map-and-directions #map-directions-container #location-selector #location-info #to-from-container .location-item .icon {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
#map-and-directions #map-directions-container #location-selector #location-info #to-from-container .location-item .location {
  width: 90%;
}
#map-and-directions #map-directions-container #location-selector #location-info #to-from-container .location-item i {
  color: #059294;
}
#map-and-directions #map-directions-container #location-selector #location-info #to-from-container .location-item #destination {
  font-size: 20px;
}
#map-and-directions #map-directions-container #location-selector #location-info #to-from-container .location-item #between-icon {
  display: flex;
  flex-direction: column;
  font-size: 5px;
}
#map-and-directions #map-directions-container #location-selector #location-info #to-from-container .location-item #between-icon i {
  margin-bottom: 5px;
}
#map-and-directions #map-directions-container #location-selector #location-info #to-from-container .location-item #between-icon i:last-child {
  margin-bottom: 0;
}
#map-and-directions #map-directions-container #location-selector #location-info #directions {
  max-height: 500px;
  overflow-y: scroll;
}
#map-and-directions #map-directions-container #location-selector #location-info #directions .adp-summary {
  display: none;
}
#map-and-directions #map-directions-container #location-selector input {
  width: 100%;
}
#map-and-directions #map-directions-container #google-map {
  width: 70%;
  height: 700px;
}

#edit-event-container {
  width: 100%;
  margin-top: 50px;
}
#edit-event-container #content {
  width: 800px;
  margin: auto;
}
#edit-event-container #content #event-edit-form-container {
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
#edit-event-container #content #event-edit-form-container #users-container div label:last-child {
  margin-bottom: 0 !important;
}
#edit-event-container #content #event-edit-form-container div {
  margin-top: 40px;
}
#edit-event-container #content #event-edit-form-container div label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}
#edit-event-container #content #event-edit-form-container #time-and-date {
  display: flex;
}
#edit-event-container #content #event-edit-form-container #time-and-date #time {
  width: 40%;
  margin-top: 0;
  margin-left: 50px;
}
#edit-event-container #content #event-edit-form-container #time-and-date #time p:first-child {
  margin-top: 0;
}
#edit-event-container #content #event-edit-form-container #time-and-date #time div {
  margin-top: 0;
}
#edit-event-container #content #event-edit-form-container #time-and-date #time #location-container {
  margin-top: 20px !important;
  display: block;
}
#edit-event-container #content #event-edit-form-container #time-and-date #date {
  width: 40%;
  margin-top: 0;
}
#edit-event-container #content #event-edit-form-container #time-and-date #date .vdp-datepicker {
  margin-top: 0;
}
#edit-event-container #content #event-edit-form-container #time-and-date #date .vdp-datepicker .vdp-datepicker__calendar {
  margin-top: 0 !important;
}
#edit-event-container #content #event-edit-form-container #time-and-date #date .vdp-datepicker div {
  height: fit-content;
}
#edit-event-container #content #event-edit-form-container div:first-child {
  margin-top: 0;
}
#edit-event-container #content #event-edit-form-container input, #edit-event-container #content #event-edit-form-container textarea {
  width: 100%;
}
#edit-event-container #content #event-edit-form-container textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
}
#edit-event-container #content #event-edit-form-container #users-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#edit-event-container #content #event-edit-form-container #users-container div {
  width: 100%;
}
#edit-event-container #content #event-edit-form-container #users-container button {
  width: 37px;
  height: 37px;
  padding: 0;
  align-self: flex-end;
  margin-left: 5px;
}
#edit-event-container #content #event-edit-form-container #invited-users-list {
  display: flex;
  flex-wrap: wrap;
}
#edit-event-container #content #event-edit-form-container #invited-users-list button {
  margin: 5px;
  width: 32%;
}
#edit-event-container #content #event-edit-form-container #save-and-cancel {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#modal-container {
  background-color: #7d7d7dad;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#modal-container #modal-container-inner {
  width: 500px;
  min-height: 220px;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
  padding: 20px;
}
#modal-container #modal-container-inner #modal #modal-header {
  display: flex;
  justify-content: flex-end;
}
#modal-container #modal-container-inner #modal #modal-header i:hover {
  color: #06c4c6;
  cursor: pointer;
}
#modal-container #modal-container-inner #modal h3 {
  text-align: center;
  margin-top: 30px;
}
#modal-container #modal-container-inner #modal #button-form {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
#modal-container #modal-container-inner #modal .button-form {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  #nav .content {
    width: 100%;
  }
  #nav .content #menu img {
    width: 150px;
  }
  #nav .content #menu #menu-items {
    width: 100%;
  }
  #nav .content #menu #menu-items a {
    padding: 0;
    margin: 10px 10px 10px 0;
  }
  #nav .content #menu #menu-items #new-appointment {
    display: flex;
  }
  #nav .content #menu #menu-items #new-appointment i {
    margin-right: 4px;
  }
  #nav .content #menu #menu-items #new-appointment-button {
    display: none;
  }

  #dashboard .content {
    width: 100%;
  }
  #dashboard .content h1 {
    margin-left: 10px;
  }
  #dashboard .content .events-container .event-container {
    width: 100%;
  }
  #dashboard .content .events-container .event-container .choices {
    width: 40%;
  }

  .skeleton-container {
    width: 100%;
  }

  .profile .content {
    width: 100%;
  }
  .profile .content #profile-container {
    margin-top: 30px;
  }
  .profile .content #profile-container #profile-form-container {
    padding: 5px;
    width: 100%;
  }
  .profile .content #profile-container #profile-form-container #profile-form form #info .checkbox-input {
    width: 5px;
  }

  .login .content, .register .content, .reset-password .content, #edit-password .content, #verify-account .content {
    width: 100%;
  }
  .login .content #verify-account-container, .register .content #verify-account-container, .reset-password .content #verify-account-container, #edit-password .content #verify-account-container, #verify-account .content #verify-account-container {
    width: 100% !important;
    padding: 5px;
  }
  .login .content #login-container, .login .content #register-container, .login .content #reset-password-container, .login .content #edit-password-container #verify-account-container, .register .content #login-container, .register .content #register-container, .register .content #reset-password-container, .register .content #edit-password-container #verify-account-container, .reset-password .content #login-container, .reset-password .content #register-container, .reset-password .content #reset-password-container, .reset-password .content #edit-password-container #verify-account-container, #edit-password .content #login-container, #edit-password .content #register-container, #edit-password .content #reset-password-container, #edit-password .content #edit-password-container #verify-account-container, #verify-account .content #login-container, #verify-account .content #register-container, #verify-account .content #reset-password-container, #verify-account .content #edit-password-container #verify-account-container {
    padding: 5px;
  }
  .login .content #login-container #edit-password-form-container, .login .content #login-container #verify-account-inner, .login .content #register-container #edit-password-form-container, .login .content #register-container #verify-account-inner, .login .content #reset-password-container #edit-password-form-container, .login .content #reset-password-container #verify-account-inner, .login .content #edit-password-container #verify-account-container #edit-password-form-container, .login .content #edit-password-container #verify-account-container #verify-account-inner, .register .content #login-container #edit-password-form-container, .register .content #login-container #verify-account-inner, .register .content #register-container #edit-password-form-container, .register .content #register-container #verify-account-inner, .register .content #reset-password-container #edit-password-form-container, .register .content #reset-password-container #verify-account-inner, .register .content #edit-password-container #verify-account-container #edit-password-form-container, .register .content #edit-password-container #verify-account-container #verify-account-inner, .reset-password .content #login-container #edit-password-form-container, .reset-password .content #login-container #verify-account-inner, .reset-password .content #register-container #edit-password-form-container, .reset-password .content #register-container #verify-account-inner, .reset-password .content #reset-password-container #edit-password-form-container, .reset-password .content #reset-password-container #verify-account-inner, .reset-password .content #edit-password-container #verify-account-container #edit-password-form-container, .reset-password .content #edit-password-container #verify-account-container #verify-account-inner, #edit-password .content #login-container #edit-password-form-container, #edit-password .content #login-container #verify-account-inner, #edit-password .content #register-container #edit-password-form-container, #edit-password .content #register-container #verify-account-inner, #edit-password .content #reset-password-container #edit-password-form-container, #edit-password .content #reset-password-container #verify-account-inner, #edit-password .content #edit-password-container #verify-account-container #edit-password-form-container, #edit-password .content #edit-password-container #verify-account-container #verify-account-inner, #verify-account .content #login-container #edit-password-form-container, #verify-account .content #login-container #verify-account-inner, #verify-account .content #register-container #edit-password-form-container, #verify-account .content #register-container #verify-account-inner, #verify-account .content #reset-password-container #edit-password-form-container, #verify-account .content #reset-password-container #verify-account-inner, #verify-account .content #edit-password-container #verify-account-container #edit-password-form-container, #verify-account .content #edit-password-container #verify-account-container #verify-account-inner {
    width: 100%;
  }
  .login .content #login-container #login-form-container img, .login .content #login-container #register-form-container img, .login .content #login-container #edit-password-form img, .login .content #register-container #login-form-container img, .login .content #register-container #register-form-container img, .login .content #register-container #edit-password-form img, .login .content #reset-password-container #login-form-container img, .login .content #reset-password-container #register-form-container img, .login .content #reset-password-container #edit-password-form img, .login .content #edit-password-container #verify-account-container #login-form-container img, .login .content #edit-password-container #verify-account-container #register-form-container img, .login .content #edit-password-container #verify-account-container #edit-password-form img, .register .content #login-container #login-form-container img, .register .content #login-container #register-form-container img, .register .content #login-container #edit-password-form img, .register .content #register-container #login-form-container img, .register .content #register-container #register-form-container img, .register .content #register-container #edit-password-form img, .register .content #reset-password-container #login-form-container img, .register .content #reset-password-container #register-form-container img, .register .content #reset-password-container #edit-password-form img, .register .content #edit-password-container #verify-account-container #login-form-container img, .register .content #edit-password-container #verify-account-container #register-form-container img, .register .content #edit-password-container #verify-account-container #edit-password-form img, .reset-password .content #login-container #login-form-container img, .reset-password .content #login-container #register-form-container img, .reset-password .content #login-container #edit-password-form img, .reset-password .content #register-container #login-form-container img, .reset-password .content #register-container #register-form-container img, .reset-password .content #register-container #edit-password-form img, .reset-password .content #reset-password-container #login-form-container img, .reset-password .content #reset-password-container #register-form-container img, .reset-password .content #reset-password-container #edit-password-form img, .reset-password .content #edit-password-container #verify-account-container #login-form-container img, .reset-password .content #edit-password-container #verify-account-container #register-form-container img, .reset-password .content #edit-password-container #verify-account-container #edit-password-form img, #edit-password .content #login-container #login-form-container img, #edit-password .content #login-container #register-form-container img, #edit-password .content #login-container #edit-password-form img, #edit-password .content #register-container #login-form-container img, #edit-password .content #register-container #register-form-container img, #edit-password .content #register-container #edit-password-form img, #edit-password .content #reset-password-container #login-form-container img, #edit-password .content #reset-password-container #register-form-container img, #edit-password .content #reset-password-container #edit-password-form img, #edit-password .content #edit-password-container #verify-account-container #login-form-container img, #edit-password .content #edit-password-container #verify-account-container #register-form-container img, #edit-password .content #edit-password-container #verify-account-container #edit-password-form img, #verify-account .content #login-container #login-form-container img, #verify-account .content #login-container #register-form-container img, #verify-account .content #login-container #edit-password-form img, #verify-account .content #register-container #login-form-container img, #verify-account .content #register-container #register-form-container img, #verify-account .content #register-container #edit-password-form img, #verify-account .content #reset-password-container #login-form-container img, #verify-account .content #reset-password-container #register-form-container img, #verify-account .content #reset-password-container #edit-password-form img, #verify-account .content #edit-password-container #verify-account-container #login-form-container img, #verify-account .content #edit-password-container #verify-account-container #register-form-container img, #verify-account .content #edit-password-container #verify-account-container #edit-password-form img {
    width: 100%;
  }

  #new-event-container {
    padding: 5px;
  }
  #new-event-container #content {
    width: 100%;
  }
  #new-event-container #content #new-event {
    width: 100%;
  }
  #new-event-container #content #new-event #step-counter .divider {
    width: 20px;
  }
  #new-event-container #content #new-event #step2 {
    flex-wrap: wrap;
  }

  #edit-event-container #content {
    width: 100%;
    padding: 5px;
  }
  #edit-event-container #content #event-edit-form-container #time-and-date {
    flex-direction: column;
  }
  #edit-event-container #content #event-edit-form-container #time-and-date #time {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }
  #edit-event-container #content #event-edit-form-container #invited-users-list button {
    width: 100%;
  }

  #event-container {
    padding: 5px;
    width: 100%;
  }
  #event-container #event-container-inner {
    display: flex;
    flex-direction: column;
  }
  #event-container #event-container-inner #event-img {
    width: 100%;
  }
  #event-container #event-container-inner #event-details {
    width: 100%;
  }
  #event-container #event-container-inner #event-details #event-details-upper #event-details-status #status-details {
    width: 70%;
  }
}

/*# sourceMappingURL=main.css.map */
