<template>
  <div id="dashboard">
    <div class="content">
      <div id="message-container" v-if="errorMsg">
        <error-message v-for="error in errorMsg" :message="error" :type="msgType"/>
      </div>
      <h1>{{pageTitle}}</h1>
      <div class="events-container">
        <div id="real-events-container">
          <event v-cloak v-for="(theEvent, index) in theEvents "
                 v-model="theEvent.status"
                 :theimage="theEvent.image + '.jpg'"
                 :id="theEvent._id"
                 :date=theEvent.date
                 :eventmode="eventMode"
                 :title=theEvent.title
                 :location=theEvent.location
                 :timefrom=theEvent.timeFrom
                 :timeto=theEvent.timeTill
                 :status=theEvent.status
                 :description=theEvent.description
                 :owner="theEvent.owner"
                 v-bind:key="`event-${index}`"/>
        </div>
      </div>
      <div class="events-container" v-if="loadingState">
        <skeleton-event v-for="(n, index) in 8" v-bind:key="`skeleton-${index}`"/>
      </div>
    </div>
  </div>
</template>

<script>
  import Event from '@/components/Event'
  import SkeletonEvent from '@/components/SkeletonEvent'
  import Vue from 'vue'
  import * as axios from 'axios'
  import ErrorMessage from '@/components/ErrorMessage'

  export default {
    name: 'Dashboard2',
    components: { ErrorMessage, SkeletonEvent, Event, axios },
    props: ['eventMode', 'pageTitle', 'returnMsg', 'returnMsgType'],
    data: function () {
      return {
        store: this.$store,
        isLoading: true,
        events: require('../assets/events.json'),
        loading: null,
        theEvents: [],
        errorMsg: [],
        msgType: null
      }
    },
    created: function () {
      this.getAppointments()

      if (this.$route.params.returnMsg && this.$route.params.returnMsgType){
        this.errorMsg = this.$route.params.returnMsg
        this.msgType = this.$route.params.returnMsgType
      }
    },
    computed: {
      loadingState () {
        if (!this.store.state.loading) {
          document.getElementById('real-events-container').style.display = 'flex'
        }

        return this.store.state.loading
      }
    },
    methods: {
      getAppointments: async function () {
        var self = this

          axios.all([this.getInvites(), this.getOwnedEvents()])
            .then(axios.spread(async function (invites, owned) {

              for (var i = 0; i < invites.data.result.length; i++) {
                self.theEvents.push(await self.getFullEvents(invites.data.result[i].eventID, invites.data.result[i].status))
              }

              console.log(self.theEvents)

            }))
            .catch(error => {
              console.log(error)
            })
      },
      getInvites: async function () {
        return axios.get(this.store.getters.apiURL + '/invite/get/by_user_id/' + this.store.getters.id)
      },
      getOwnedEvents: async function () {
        return axios.get(this.store.getters.apiURL + '/event/get/by_owner/' + this.store.getters.id)
      },
      getFullEvents: function (eventID, status) {
        var self = this

        return axios
          .get(self.store.getters.apiURL + '/event/get/by_id/' + eventID, {
          })
          .then(function (singleResult) {
            // TODO: check for errors
            singleResult.data.result['status'] = status
            return singleResult.data.result
          })
      },
    },
    mounted: function () {
      document.getElementById('real-events-container').style.display = 'none'
    }

  }
</script>

<style scoped>

</style>
