<template>
  <div id="edit-event-container">
    <div id="content">
      <h1>Evenement aanpassen</h1>
      <edit-event-form v-for="event in events "
         v-model="event.date"
         :invited="event.invited"
         :title="event.title"
         :description="event.description"
         :date="event.date"
         :timefrom="event.timefrom"
         :timeto="event.timeto"
         :location="event.location"
         :file-name="event.filename">
      </edit-event-form>
    </div>
  </div>
</template>

<script>
  import EditEventForm from '@/components/EditEventForm'
  export default {
    name: 'EditEvent',
    components: { EditEventForm },
    data: function () {
      return {
        events: require('../assets/event.json')
      }
    }
  }
</script>

<style scoped>

</style>
