<template>
  <change-password :title="title" button-text="Opslaan" :reset="reset"></change-password>
</template>

<script>
  import FormInput from '@/components/FormInput'
  import ButtonInput from '@/components/ButtonInput'
  import ErrorMessage from '@/components/ErrorMessage'
  import * as axios from 'axios'
  import ChangePassword from '@/components/ChangePassword'
  export default {
    name: 'EditPassword',
    components: { ChangePassword},
    props: ['title', 'reset', 'button-text']
  }
</script>
