<template>
  <div id="event-details-container">
<!--    <event-details v-for="(event, index) in events" v-bind:key="`carousel-image-${index}`" v-model="event.status" :title="event.title" :status="event.status" :description="event.description" :timeto="event.timeto" :timefrom="event.timefrom" :date="event.date" :location="event.location"></event-details>-->

    <event-details
      v-if="done"
      v-model="returnValue"
      :title="this.title"
      :status="this.status"
      :description="this.description"
      :timeto="this.timeTo"
      :timefrom="this.timeFrom"
      :date="this.date"
      :location="this.location"
      :note = "this.note"
      :lat="this.lat"
      :lng="this.lng"
      :image="this.image"
      :fullInvites="this.fullInvites"
      :owner="this.owner"
      :invited="this.fullUsers"
      :todoItems="this.todoItems"
    />
  </div>
</template>

<script>
  import StatusIndicator from '@/components/StatusIndicator'
  import EventDetails from '@/components/EventDetails'
  import * as axios from 'axios'
  export default {
    name: 'Event',
    components: { EventDetails, axios},
    data: function () {
      return {
        done: false,
        events: require('../assets/event.json'),
        returnValue: null,
        id: null,
        owner: null,
        event: null,
        store: this.$store,
        route: this.$route,
        title: null,
        description: null,
        status: null,
        timeFrom: null,
        timeTo: null,
        date: null,
        location: null,
        lat: null,
        lng: null,
        image: null,
        fullInvites: null,
        fullUsers: [],
        todoItems: null
      }
    },
    created: function () {
      this.getAppointments()
    },
    methods: {
      getAppointments: async function () {
        var self = this

        axios.all([this.getAllInvites(), this.getFullEvent(), this.getAllTodoItems()])
          .then(axios.spread(async function (invites, event, todo) {
            if (invites.data.error || event.data.error || todo.data.error) {
            } else {
              self.msgType = 'success'
              var theEvent = event.data.result
              var theInvites = invites.data.result
              var theTodoItems = todo.data.result

              self.id = theEvent._id
              self.title = theEvent.title
              self.description = theEvent.description
              self.timeFrom = theEvent.timeFrom
              self.timeTo = theEvent.timeTill
              self.date = theEvent.date
              self.location = theEvent.location
              self.lat = theEvent.lat
              self.lng = theEvent.lng
              self.owner = theEvent.owner
              self.image = theEvent.image + '.jpg'
              self.fullInvites = theInvites
              self.todoItems = theTodoItems

              for (var i = 0; i < theInvites.length; i++) {
                var user = await self.getFullUserByEmail(theInvites[i].email)

                user.status = theInvites[i].status
                self.fullUsers.push(user)

                if (user.id === self.store.getters.id) {
                  self.status = theInvites[i].status
                  self.note = theInvites[i].notes
                }
              }
            }
          }))
          .finally(function () {
            self.done = true
          })
          .catch(error => {
            console.log(error)
          })
      },
      getFullEvent: function (eventID) {
        return axios.get(this.store.getters.apiURL + '/event/get/by_id/' + this.route.params.eventid)
      },
      getAllInvites: function () {
        return axios.get(this.store.getters.apiURL + '/invite/get/by_event_id/' + this.route.params.eventid)
      },
      getAllTodoItems: function () {
        return axios.get(this.store.getters.apiURL + '/todo/get/by_event_id/' + this.route.params.eventid)
      },
      getFullUserByEmail (email) {
        var self = this
        return axios
          .get(self.store.getters.apiURL + '/user/get/by_email/' + email, {
          })
          .then(function (userResponse) {
            if (userResponse.data.error) {
            } else {
              return userResponse.data.result
            }
          })
      },
      changeStatus: function (newStatus) {
        var self = this
        axios
          .put(self.store.getters.apiURL + '/invite/put/status/', {
            status: newStatus,
            eventID: self.id,
            userID: self.store.getters.id
          })
          .then(function (response) {
            if (response.data.error) {
              console.log(response.data.error)
            }

            self.getAllInvites().then(function(invites) {
              if (!invites.data.error){
                self.fullInvites = invites.data.result
              }
            })
          })
      },
      saveNotes: function () {
        var self = this
        axios
          .put(self.store.getters.apiURL + '/invite/put/notes/', {
            notes: this.notes,
            eventID: self.id,
            userID: self.store.getters.id
          })
          .then(function (response) {
            if (response.data.error) {
              console.log(response.data.error)
            }
            console.log(response)
          })
      },
    },
    watch: {
      returnValue: function (newVal) {

        // save status
        if (newVal.status >= 0) {
          this.status = newVal.status
          this.changeStatus(newVal.status)
        }

        // save new notes to database
        if (newVal.notes) {
          this.notes = newVal.notes
          this.saveNotes()
        }
      }
    }
  }
</script>

<style scoped>

</style>
