<template>
  <div class="login">
    <div class="content">
      <login-form/> <!--    load login-->
    </div>
  </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'
    import LoginForm from '@/components/LoginForm.vue' // @ is an alias to /src

    @Component({
        components: {
            LoginForm
        },
        data: function () {
            return {

            }
        }
    })
    export default class Home extends Vue {
    }
</script>
