// TODO: Clean up this whole file, should probably be 2 files for edit and new event.
<template>
  <div id="new-event-container">
    <modal  :modalVisable="modalVisable" v-model="modalVisable">
      <form>
        <div id="presetForm">
          <form-input givenText="Preset titel" v-model="eventPresetTitle"/>
        </div>

        <div class="button-form">
          <fa-button-input @click.native="toggleModal" class="remove-btn" text="Annuleren"/>
          <fa-button-input text="Opslaan" @click.native="createEventPreset" v-bind:class="{disabled: false}"/>
        </div>
      </form>
    </modal>
    <div id="content">
      <div id="new-event">

        <div id="presetStep" v-if="currentstep === 0">
          <h2>Wilt u een preset gebruiken voor dit evenement?</h2>
          <p>Kies een preset, laat leeg voor geen preset</p>
          <preset-selector preset-type="EVENT" v-model="selectedPreset"/>
        </div>

        <steps v-if="currentstep <= maxSteps-1 && currentstep !== 0" :maxsteps="maxSteps" :currentstep="currentstep"/>
        <form id="mainForm" v-on:submit.prevent="addUserToList">

          <div id="step1" v-if="currentstep === 1">
            <form-input given-text="Afspraak titel" vmodel="title" given-type="text" v-model="title"
                        :given-value="title"/>
            <input-textarea title="Afspraak omschrijving" v-model="description">{{description}}</input-textarea>

            <div id="carousel-container">
              <label>Selecteer een afbeelding</label>
              <carousel class="carousel" :rewind="false" :dots="false" :margin="10" v-if="doneLoading">
                <carousel-items v-model="fileName" v-for="(img, index) in this.predefinedImages"
                                v-bind:key="`carousel-image-${index}`" :id="img + '-' + index" :img="img" :alt="img"
                                :active="fileName"/>
              </carousel>
            </div>
          </div>

          <div id="step2" v-if="currentstep === 2">
            <div id="datepicker-container" class="container">
              <p><b>Selecteer een datum</b></p>
              <datepicker :inline="true" @selected="onDateSelect" :required=true v-model="date"
                          :disabled-dates="{to: getDateYesterday()}" :language="nl"/>
            </div>
          </div>

          <div id="step3" v-if="currentstep === 3">
            <div id="timepicker-container" class="container">
              <time-range-picker :fromTime="startTimeSimple" :toTime="endTimeSimple" :startDate="this.date"
                                 v-model="timeSelected"/>
            </div>
          </div>

          <div id="step4" v-if="currentstep === 4">
            <div id="location-container">
              <google-location-selector giventext="Evenement locatie" v-model="gottenLocation" :location="location"/>
            </div>
          </div>

          <div id="step5" v-if="currentstep === 5">
            <p>Email genodigde</p>
<!--            <fa-button-input icon="fas fa-save"/>-->
            <user-selector v-model="selectedEmail" :disabled-emails="emails"/>
            <div id="invited-users-list">
              <user-info-row :name="theEmail" :deleteAction="true" v-for="(theEmail, index) in emails"
                             v-bind:key="`invited-user-${index}`" :isDisabled="ownerEmail.includes(theEmail)" @click.native="!ownerEmail.includes(theEmail) ? removeUserFromList(theEmail) : null "/>
            </div>
          </div>

          <div id="step6" v-if="currentstep === 6">
            <div id="details-container">
              <div class="finished-header" v-if="this.msgType === 'success'">
                <div class="step"><i class="fa fa-check"/></div>
                <h1>Klaar!</h1>
                <p>Het evenement is aangemaakt, <router-link to="/">klik hier</router-link> om naar uw overzicht te gaan</p>

                <p>Wilt u dit evenement opslaan als een preset? <a @click="toggleModal">Klik hier</a></p>
              </div>

              <div class="finished-header" v-if="this.msgType === 'warning'">
                <div class="step step-warning"><i class="fa fa-exclamation"/></div>
                <h1>Er is iets fout gegaan!</h1>
                <p v-for="(error, index) in this.errorMsg" v-bind:key="`error-${index}`">{{error}}</p>
              </div>
            </div>
          </div>

          <div id="buttons-form">
            <div id="button-left">
              <button-input text="Vorige stap" id="button-previous"
                            v-if="previousButtonVisable && currentstep <= maxSteps-1 " @click.native="previousStep"/>
              <button-input text="Evenement annuleren" id="button-cancel" class="remove-btn"
                            v-if="currentstep === 1 && this.eventID" @click.native="cancelEvent"/>
            </div>
            <div id="button-right">
              <button-input text="volgende stap" id="button-next" v-if="currentstep <= maxSteps-1"
                            @click.native="nextStep" :disabled="false"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import Steps from '@/components/Steps'
  import FormInput from '@/components/FormInput'
  import InputTextarea from '@/components/InputTextarea'
  import Datepicker from 'vuejs-datepicker'
  import { nl } from 'vuejs-datepicker/dist/locale'
  import Timeselector from 'vue-timeselector'
  import GoogleLocationSelector from '@/components/GoogleLocationSelector'
  import FaButtonInput from '@/components/ButtonInputFa'
  import ButtonInput from '@/components/ButtonInput'
  import * as axios from 'axios'
  import carousel from 'vue-owl-carousel2'
  import CarouselItems from '@/components/Carousel-items'
  import TimeRangePicker from '@/components/TimeRangePicker'
  import UserInfoRow from '@/components/UserInfoRow'
  import UserSelector from '@/components/UserSelector'
  import Modal from '@/components/Modal'
  import PresetSelector from '@/components/PresetSelector'

  export default {
    name: 'NewEvent',
    components: {
      PresetSelector,
      FaButtonInput,
      Modal,
      UserSelector,
      UserInfoRow,
      TimeRangePicker,
      CarouselItems,
      ButtonInput,
      GoogleLocationSelector,
      InputTextarea,
      FormInput,
      Steps,
      Datepicker,
      carousel
    },
    created: function () {
      var self = this
     if (this.$route.params.eventid) {
       this.doneLoading = false
       this.eventID = this.$route.params.eventid

       axios.all([this.getInvites(), this.getEvent()])
         .then(axios.spread(async function (invites, event) {
           if (invites.data.error || event.data.error){
             self.$router.push({ name: 'dashboard', params: { returnMsg: ['Evenement niet gevonden!'], returnMsgType: 'warning' } })
           }

           var eventResults = event.data.result
           var invitesResults = invites.data.result
           self.inviteResults = invitesResults

           if (eventResults.owner !== self.store.getters.id) {
             self.$router.push({ name: 'dashboard', params: { returnMsg: ['U mag dit evenement niet aanpassen!'], returnMsgType: 'warning' } })
           }

           self.title = eventResults.title
           self.description = eventResults.description
           self.fileName = eventResults.image
           var splitDate = eventResults.date.split('-')
           var date = new Date(splitDate[2], splitDate[1] - 1, splitDate[0])

           if (date.getDate() === new Date().getDate()) {
             var now = new Date()
             date.setHours(now.getHours())
             date.setMinutes(now.getMinutes())
           }
           self.date = date
           self.startTimeSimple = eventResults.timeFrom
           self.endTimeSimple = eventResults.timeTill
           self.location = eventResults.location
           // self.gottenLocation = eventResults.location
           self.lat = eventResults.lat
           self.lng = eventResults.lng

           for (var i = 0; i < invitesResults.length; i++) {
             self.emails.push(invitesResults[i].email)
           }
         }))
         .finally(function () {
           self.doneLoading = true
         })
         .catch(error => {
           console.log(error)
           self.$router.push({ name: 'dashboard', params: { returnMsg: ['Evenement niet gevonden!'], returnMsgType: 'warning' } })
         })
     }
     axios
       .get(self.store.getters.apiURL + '/user/get/by_id/' + self.store.getters.id, {
       })
       .then(function (response) {
         if (response.data.error) {
           self.errorMsg = response.data.errormsg
           self.msgType = 'warning'
           console.log(response)
         } else {
           self.msgType = 'success'
           if (!self.emails.includes(response.data.result.email)){
             self.emails.push(response.data.result.email)
           }
           self.ownerEmail.push(response.data.result.email)
         }
       })
       .catch(error => {
         self.errorMsg = ['Er is iets fout gegaan. Propeer het later opnieuw']
         self.msgType = 'warning'
         console.log(error)
       })

      if (this.eventID){
        this.currentstep = 1
      }
    },
    mounted: function () {
      for (var i = 0; i < document.getElementsByClassName('owl-prev').length; i++) {
        document.getElementsByClassName('owl-prev')[i].innerHTML = '<i class="fas fa-arrow-left fa-2x"/>'
        document.getElementsByClassName('owl-next')[i].innerHTML = '<i class="fas fa-arrow-right fa-2x"/>'
      }
    },
    data: function () {
      return {
        eventID: null,
        inviteResults: null,
        doneLoading: true,
        currentstep: 0,
        maxSteps: 6,
        nl: nl,
        title: '',
        description: '',
        startTime: new Date(),
        startTimeSimple: null,
        endTime: new Date(),
        endTimeSimple: null,
        date: '',
        location: '',
        gottenLocation: '',
        email: '',
        emails: [],
        disabledHours: [],
        disabledMinutes: [],
        fileName: null,
        store: this.$store,
        errorMsg: null,
        msgType: null,
        importAll: null,
        predefinedImages: ['alcohol', 'architectuur', 'burrito', 'christmas', 'group', 'group-concert', 'notes'],
        timeSelected: null,
        selectedEmail: null,
        lat: null,
        lng: null,
        ownerEmail: [],
        modalVisable: false,
        eventPresetTitle: null,
        selectedPreset: null,
        createdEvent: null
      }
    },
    methods: {
      toggleModal: function () {
        this.modalVisable = !this.modalVisable
      },
      createEventPreset: function (){
        console.log('creating preset...')
        var self = this

        var itemsArray = {}
        itemsArray.event = this.createdEvent
        itemsArray.emails = this.emails

        axios
          .post(self.store.getters.apiURL + '/preset/new', {
            title: self.eventPresetTitle,
            type: 'EVENT',
            userID: self.store.getters.id,
            items: itemsArray
          })
          .then(function (response) {
            if (response.data.error) {
              self.errorMsg = response.data.errormsg
              self.msgType = 'warning'
              console.log(response)
            } else {
              self.msgType = 'success'
              self.toggleModal()
              self.errorMsg = ['Het evenement is successvol opgeslagen als preset! U wordt binnen enkele seconden doorverwezen']
              setTimeout(function () {
                self.$router.push({ name: 'dashboard', params: { returnMsg: ['Preset successvol aangemaakt!'], returnMsgType: 'success' } })
              }, 1000)
            }
          })
          .catch(error => {
            self.errorMsg = ['Er is iets fout gegaan. Propeer het later opnieuw']
            self.msgType = 'warning'
            console.log(error)
          })
      },
      getInvites: async function () {
        return axios.get(this.store.getters.apiURL + '/invite/get/by_event_id/' + this.eventID)
      },
      getEvent: async function () {
        return axios.get(this.store.getters.apiURL + '/event/get/by_id/' + this.eventID)
      },
      nextStep () {
        this.currentstep += 1
        var self = this
        if (this.currentstep === this.maxSteps) {
          if (this.$route.params.eventid) {
            this.updateEvent()
          } else {
            this.newEvent()
          }
        }
      },
      newEvent () {
        var self = this
        axios
          .post(this.store.getters.apiURL + '/event/new', {
            title: this.title,
            description: this.description,
            image: this.fileName,
            date: this.date,
            timeFrom: this.startTimeSimple,
            timeTill: this.endTimeSimple,
            location: this.location,
            owner: this.$store.getters.id,
            lat: this.lat,
            lng: this.lng
          })
          .then(function (response) {
            if (response.data.error) {
              self.errorMsg = response.data.errormsg
              self.msgType = 'warning'
              console.log(response)
            } else {
              self.msgType = 'success'
              self.createdEvent = response.data.result

              for (var i = 0; i < self.emails.length; i++) {
                axios
                  .post(self.store.getters.apiURL + '/invite/new', {
                    email: self.emails[i],
                    eventID: response.data.result._id,
                    status: 3,
                    notes: null
                  })
                  .then(function (response) {
                    if (response.data.error) {
                      self.errorMsg = response.data.errormsg
                      self.msgType = 'warning'
                      console.log(response)
                    } else {
                      self.msgType = 'success'
                    }
                  })
                  .catch(error => {
                    self.errorMsg = ['Er is iets fout gegaan. Propeer het later opnieuw']
                    self.msgType = 'warning'
                    console.log(error)
                  })
              }
            }
          })
          .catch(error => {
            self.errorMsg = ['Er is iets fout gegaan. Propeer het later opnieuw']
            self.msgType = 'warning'
            console.log(error)
          })
      },
      updateEvent () {
        var self = this
        console.log('calling update')
        axios
          .put(this.store.getters.apiURL + '/event/update', {
            title: this.title,
            description: this.description,
            image: this.fileName,
            date: this.date,
            timeFrom: this.startTimeSimple,
            timeTill: this.endTimeSimple,
            location: this.location,
            owner: this.$store.getters.id,
            _id: this.eventID,
            lat: this.lat,
            lng: this.lng
          })
          .then(function (response) {
            if (response.data.error) {
              self.errorMsg = response.data.errormsg
              self.msgType = 'warning'
              console.log(response)
            } else {
              self.msgType = 'success'
              console.log('done with update')
            }
          })
          .catch(error => {
            self.errorMsg = ['Er is iets fout gegaan. Propeer het later opnieuw']
            self.msgType = 'warning'
            console.log(error)
          })
      },
      cancelEvent: function () {
        var self = this
        axios
          .delete(this.store.getters.apiURL + '/invite/delete/all_by_event_id/' + this.eventID, {
          })
        .then(function (response) {
          if (response.data.error) {
            self.errorMsg = response.data.errormsg
            self.msgType = 'warning'
            console.log(response)
          } else {
            self.msgType = 'success'
              axios
                .delete(self.store.getters.apiURL + '/event/delete/by_id/' + self.eventID, {
                })
                .then(function (response) {
                  if (response.data.error) {
                    self.errorMsg = response.data.errormsg
                    self.msgType = 'warning'
                    console.log(response)
                  } else {
                    self.msgType = 'success'
                    self.$router.push({ name: 'dashboard', params: { returnMsg: ['Evenement successvol verwijderd'], returnMsgType: 'success' } })
                  }
                })
                .catch(error => {
                  self.errorMsg = ['Er is iets fout gegaan. Propeer het later opnieuw']
                  self.msgType = 'warning'
                  console.log(error)
                })
          }
        })
          .catch(error => {
            self.errorMsg = ['Er is iets fout gegaan. Propeer het later opnieuw']
            self.msgType = 'warning'
            console.log(error)
          })
      },
      previousStep () {
        this.currentstep = this.currentstep - 1
      },
      onDateSelect (theDate) {
        this.date = theDate
        this.startTimeSimple = null
        this.endTimeSimple = null
      },
      getDateYesterday () {
        var date = new Date()
        date.setDate(date.getDate() - 1)
        return date
      },
      addUserToList (givenEmail) {
        if (givenEmail.includes('@') && givenEmail.includes('.')) {
          var self = this
          if (this.$route.params.eventid) {
            axios
                .post(self.store.getters.apiURL + '/invite/new', {
                  email: givenEmail,
                  eventID: self.eventID,
                  status: 3,
                  notes: null
                })
                .then(function (response) {
                  if (response.data.error) {
                    self.errorMsg = response.data.errormsg
                    self.msgType = 'warning'
                    console.log(response)
                  } else {
                    self.msgType = 'success'
                    self.emails.push(givenEmail)
                  }
                })
                .catch(error => {
                  self.errorMsg = ['Er is iets fout gegaan. Propeer het later opnieuw']
                  self.msgType = 'warning'
                  console.log(error)
                })
          } else {
            self.emails.push(givenEmail)
          }
        }
      },
      removeUserFromList (givenEmail) {
        var self = this
        if (this.$route.params.eventid) {
          axios
            .delete(self.store.getters.apiURL + '/invite/delete/by_email_and_event_id/' + givenEmail + '/' + self.eventID, {
            })
            .then(function (response) {
              if (response.data.error) {
                self.errorMsg = response.data.errormsg
                self.msgType = 'warning'
                console.log(response)
              } else {
                self.msgType = 'success'
                self.emails.splice(self.emails.indexOf(givenEmail), 1)
              }
            })
            .catch(error => {
              self.errorMsg = ['Er is iets fout gegaan. Propeer het later opnieuw']
              self.msgType = 'warning'
              console.log(error)
            })
        } else {
          self.emails.splice(self.emails.indexOf(givenEmail), 1)
        }
      }
    },
    computed: {
      watchAllVariables () {
        return `${this.currentstep}|${this.title}|${this.description}|${this.date}|${this.startTime}|${this.endTime}|${this.location}|${this.fileName}`
      },
      previousButtonVisable () {
        if (this.eventID && this.currentstep > 1){
          return true
        }
        return !this.eventID && this.currentstep > 0
      }
    },
    watch: {
      selectedPreset: function (selectedPreset) {
        var event = selectedPreset.items.event
        var invites = selectedPreset.items.emails

        this.title = event.title
        this.description = event.description
        this.fileName = event.image
        var splitDate = event.date.split('-')
        var date = new Date(splitDate[2], splitDate[1] - 1, splitDate[0])

        if (date.getDate() === new Date().getDate()) {
          var now = new Date()
          date.setHours(now.getHours())
          date.setMinutes(now.getMinutes())
        }
        this.date = date
        this.startTimeSimple = event.timeFrom
        this.endTimeSimple = event.timeTill
        this.location = event.location
        // self.gottenLocation = eventResults.location
        this.lat = event.lat
        this.lng = event.lng

        for (var i = 0; i < invites.length; i++) {
          if (!this.emails.includes(invites[i])) {
            this.emails.push(invites[i])
          }
        }
        this.nextStep()
      },
      modalVisable: function (newVal) {
        this.modalVisable = newVal
      },
      selectedEmail: function (newValue) {
        // this.emails.push(newValue)
        this.addUserToList(newValue)
      },
      watchAllVariables: function () {
        switch (this.currentstep) {
          case 0:
            document.getElementById('button-next').disabled = false
            break;
          case 1:
            document.getElementById('button-next').disabled = !(this.title && this.description && this.fileName)
            break
          case 2:
            document.getElementById('button-next').disabled = !(this.date)
            break
          case 3:
            document.getElementById('button-next').disabled = !(this.startTimeSimple && this.endTimeSimple)
            break
          case 4:
            // document.getElementById('button-next').disabled = !(this.location)
            break
          case 5:
            document.getElementById('button-next').innerHTML = 'Afronden'
        }
      },
      gottenLocation: function (newval) {
        this.location = newval.location
        this.lat = newval.lat
        this.lng = newval.lng
      },
      fileName: function (newval) {
        this.fileName = newval
      },
      timeSelected: function (newVal) {
        this.startTime = new Date(this.date)
        this.endTime = new Date(this.date)

        this.startTime.setHours(newVal[0].split(':')[0])
        this.startTime.setMinutes(newVal[0].split(':')[1])
        this.startTimeSimple = newVal[0]

        this.endTime.setHours(newVal[1].split(':')[0])
        this.endTime.setMinutes(newVal[1].split(':')[1])
        this.endTimeSimple = newVal[1]
      }
    }
  }

</script>

<style scoped>

</style>
