<template>
  <div class="profile">
    <div class="content">
      <profile-form></profile-form>
    </div>
  </div>
</template>

<script>
  import ProfileForm from '@/components/ProfileForm'
  export default {
    name: 'profile',
    components: { ProfileForm }
  }
</script>

<style scoped>

</style>
