<template>
<div class="register">
  <div class="content">
    <register-form></register-form>
  </div>
</div>
</template>

<script>
  import RegisterForm from '@/components/RegisterForm'
  export default {
    name: 'Register',
    components: { RegisterForm }
  }
</script>

<style scoped>

</style>
