<template>
  <div class="reset-password">
    <div class="content">
      <div id="reset-password-container">
        <div id="reset-password-message-container">
          <div id="message-container" v-if="errorMsg">
            <error-message v-for="error in errorMsg" :message="error" :type="msgType"></error-message>
          </div>
          <h1>Wachtwoord herstellen</h1>
          <div id="reset-password-form-container">
            <form>
              <p>Voer uw e-mailadres in en binnen enkele minuten ontvangt u een link waarme u uw wachtwoord kunt instellen</p>
              <form-input given-type="text" v-model="email" given-placeholder="E-mail"></form-input>
              <button-input @click.native="sendPasswordEmail" text="Verzenden"/>
            </form>
          </div>
          <div id="extra-message">
            <p v-if="verification">
              Heeft u geen e-mail gehad? <a v-on:click="sendPasswordEmail">Verzend e-mail opnieuw</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ChangePassword from '@/components/ChangePassword'
  import ErrorMessage from '@/components/ErrorMessage'
  import FormInput from '@/components/FormInput'
  import ButtonInput from '@/components/ButtonInput'
  import * as axios from 'axios'
  export default {
    name: 'ResetPassword',
    components: { ButtonInput, FormInput, ErrorMessage },
    data: function () {
      return {
        store: this.$store,
        errorMsg: null,
        msgType: null,
        email: '',
        verification: null
      }
    },
    methods: {
      sendPasswordEmail: function () {
        var self = this
        axios
          .post(this.store.getters.apiURL + '/user/send_password_reset_mail/by_email/' + self.email, {
          })
          .then(function (response) {
            console.log(response)
            if (response.data.error) {
              self.errorMsg = response.data.errormsg
              self.msgType = 'warning'
              self.verification = false
            }
            else {
              self.errorMsg = ['Herstel van wachtwoord aangevraagd. Let op uw mail voor meer informatie.']
              self.msgType = 'success'

              setTimeout(() => {
                self.verification = true
              }, 4000)
            }
          })
          .catch(error => {
            console.log(error)
            self.errorMsg = ['Er is iets fout gegaan. Propeer het later opnieuw']
            self.msgType = 'warning'
          })
      }
    },
  }
</script>

<style scoped>

</style>
