<template>
  <div id="verify-account">
    <div class="content">
      <div id="verify-account-container">
        <h1>{{title}}</h1>
        <div id="verify-account-inner">
          <i id="message-icon" class="fal fa-5x" :class="iconColor + ' ' + iconType"></i>
          <h1 v-if="errorMsg">{{errorMsg[0]}}</h1>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import * as axios from 'axios'
  export default {
    name: 'EditPassword',
    components: { },
    props: ['title'],
    data: function () {
      return {
        tokenId: this.$route.params.tokenId,
        store: this.$store,
        errorMsg: null,
        iconColor: null,
        iconType: null
      }
    },
    created: function () {
      var tokenId = this.$route.params.tokenId
      var self = this
      axios
        .post(this.store.getters.apiURL + '/user/authenticate/by_token/' + tokenId, {
        })
        .then(function (response) {
          if (response.data.error) {
            self.errorMsg = response.data.errormsg
            self.iconColor = 'warning-text-color'
            self.iconType = 'fa-exclamation-square'
          }
          else {
            self.errorMsg = ['Account successvol geverifieerd. U kunt nu inloggen.']
            self.iconColor = 'success-text-color'
            self.iconType = 'fa-check-circle'
          }
        })
        .catch(error => {
          self.errorMsg = ['Er is iets fout gegaan. Propeer het later opnieuw']
          self.msgType = 'warning'
        })
    }
  }
</script>
