<template>
 <button type="button"><i :class="icon"></i>{{text}}</button>
</template>

<script>
  export default {
    name: 'FaButtonInput',
    props:['icon', 'text', 'thelocation', 'height']
  }
</script>

<style scoped>

</style>
