<template>
  <router-link :to="thelocation"><button><i :class="icon"></i>{{text}}</button></router-link>
</template>

<script>
  export default {
    name: 'FaButtonInputLink',
    props:['icon', 'text', 'thelocation', 'height']
  }
</script>

<style scoped>

</style>
