<template>
    <button type="button" :disabled="disabled">{{text}}</button>
</template>

<script>
  export default {
    name: 'ButtonInput',
    props:['text', 'theFunction', 'disabled']
  }
</script>
