<template>
  <div class="carousel-item" @click="selectImage">
    <img :id="id" :alt="img" :src="require(`../assets/predefined-images/${img}.jpg`)"/>
    <div :id="'overlay-' + id" class="carousel-item-overlay">
      <div class="overlay-content">
        <i class="fas fa-check-circle fa-3x"></i>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Carousel-items',
    props: ['alt', 'id', 'img', 'active'],
    mounted: function () {
      if (this.active === this.img) {
        document.getElementById('overlay-' + this.id).style.opacity = '1'
      }
    },
    methods: {
      selectImage (img) {
        for (var i = 0; i < document.getElementsByClassName('carousel-item-overlay').length; i++) {
          document.getElementById(document.getElementsByClassName('carousel-item-overlay')[i].getAttribute('id')).style.opacity = '0'
        }
        document.getElementById('overlay-' + this.id).style.opacity = '1'
        this.$emit('input', this.img)
      }
    }
  }
</script>

<style scoped>

</style>
