<template>
  <div id="edit-password">
    <div class="content">
      <div id="edit-password-container">
        <div id="edit-password-form-container">
          <h1>{{title}}</h1>
          <div id="message-container" v-if="errorMsg">
            <error-message v-for="error in errorMsg" :message="error" :type="msgType"/>
          </div>
          <div id="edit-password-form">
            <form>
              <div id="edit-password-inputs">
                <form-input v-if="!reset" given-type="Password" v-model="oldPassword" given-placeholder="Oud wachtwoord"
                            given-text="Oud wachtwoord"/>
                <form-input given-type="Password" v-model="newPassword" given-placeholder="Nieuw wachtwoord"
                            given-text="Nieuw wachtwoord"/>
                <form-input given-type="Password" v-model="newRepeatPassword"
                            given-placeholder="herhaal nieuw wachtwoord" given-text="Herhaal nieuw wachtwoord"/>
              </div>
              <div id="lower-buttons">
                <button-input :text="buttonText" @click.native="changePassword"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ErrorMessage from '@/components/ErrorMessage'
  import FormInput from '@/components/FormInput'
  import ButtonInput from '@/components/ButtonInput'
  import * as axios from 'axios'
  export default {
    name: 'ChangePassword',
    props: ['title', 'reset', 'buttonText'],
    components: { ButtonInput, FormInput, ErrorMessage },
    data: function () {
      return {
        resetPassword: false,
        oldPassword: '',
        newPassword: '',
        newRepeatPassword: '',
        errorMsg: null,
        msgType: null,
        store: this.$store
      }
    },
    methods: {
      changePassword: function () {
        var self = this
        var by = ''
        var param = ''

        if (this.store.getters.id){
          by = 'by_id'
          param = this.store.getters.id
        }
        else {
          by = 'by_token'
          param = this.$route.params.tokenId
        }

        axios
          .put(this.store.getters.apiURL + '/user/put/new_password/' + by + '/' + param, {
            oldPassword: this.oldPassword,
            newPassword: this.newPassword,
            newRepeatPassword: this.newRepeatPassword,
            resetPassword: this.reset
          })
          .then(function (response) {
            if (response.data.error) {
              self.errorMsg = response.data.errormsg
              self.msgType = 'warning'
            } else {
              if (self.reset) {
                self.$router.push({ name: 'login', params: { returnMsg: ['Wachtwoord successvol aangepast.'], returnMsgType: 'success' } })
              } else {
                self.$router.push({ name: 'profile', params: { returnMsg: ['Wachtwoord sucessvol aangepast!'], returnMsgType: 'success' } })
              }
            }
          })
          .catch(error => {
            self.errorMsg = ['Er is iets fout gegaan. Propeer het later opnieuw']
            self.msgType = 'warning'
          })
      }
    },
    created: function () {
      var tokenId = this.$route.params.tokenId
      var self = this
      if (this.reset){
        axios
          .post(this.store.getters.apiURL + '/token/checkExists/byToken/' + tokenId, {
          })
          .then(function (response) {
            if (response.data.error) {
              self.$router.push({ name: 'login', params: { returnMsg: ['Dit token bestaat helaas niet. Probeer het later opnieuw'], returnMsgType: 'warning' } })
            }
          })
          .catch(error => {
            console.log(error)
            self.errorMsg = ['Er is iets fout gegaan. Propeer het later opnieuw']
            self.msgType = 'warning'
          })
      }
    }
  }
</script>
