<!--TODO: Add image input-->
<template>
    <div id="event-edit-form-container">
      <form-input type="text" v-model="gottenTitle" :given-value="gottenTitle" given-text="Evenement naam"></form-input>
      <input-textarea title="Beschrijving" v-model="gottenDescription" :value="description"></input-textarea>
      <div id="time-and-date">
        <!--      TODO: Make seperate component-->
        <div id="date">
          <label>Datum</label>
          <datepicker :inline="true" @selected="onDateSelect" :required=true v-model="gottenDate" :disabled-dates="{to: getDateYesterday()}" :language="nl"></datepicker>
        </div>
        <!--      TODO: Make seperate component-->
        <div id="time">
          <div id="timefrom">
            <p><b>Selecteer begintijd</b></p>
            <timeselector id="startTime" :interval="{h:1, m:5}" :h24="true" v-model="startTime" :returnFormat="'HH:mm'" @input="calculateDisabledHoursAndMinutes" :displayFormat="'HH:mm'" :required="true" ></timeselector>
          </div>
          <div id="time-to"
          <p><b>Selecteer eindtijd</b></p>
          <timeselector id="end-time" :interval="{h:1, m:5}" :h24="true" v-model="endTime" :returnFormat="'HH:mm'" :displayFormat="'HH:mm'" :required="true" :disable="{h:disabledHours, m:disabledMinutes}" ></timeselector>
          <div id="location-container">
            <!-- TODO: Add google maps places api / make sepeare component -->
            <form-input type="text" given-text="Locatie" :given-value="location"></form-input>
            <input type="file" class="input-image" id="input-image" ref="theFile" @change="getFileName" name="inputImage"/>
            <label for="input-image"><i class="fas fa-camera"></i> Kies een afbeelding</label>
            {{fileName}}
          </div>
        </div>
      </div>
<!--      TODO: Make seperate component-->
      <div id="users-container">
        <form-input type="text" given-text="E-mail genodigde" v-model="email"/>
        <fa-button-input @click.native="addUserToList" icon="fa fa-plus"></fa-button-input>
      </div>
      <div id="invited-users-list">
        <fa-button-input v-for="theEmail in emails" @click.native="removeUserFromList(theEmail)" icon="fa fa-ban" :text="' ' + theEmail"></fa-button-input>
      </div>

      <div id="save-and-cancel">
        <button-input class="remove-btn" id="cancel-event-button" @click.native="redirect('/')" text="Evenement annuleren" ></button-input>
        <button-input id="save-button" @click.native="redirect('/')" text="Opslaan" ></button-input>
      </div>

    </div>
</template>

<script>
  import FormInput from '@/components/FormInput'
  import InputTextarea from '@/components/InputTextarea'
  import Datepicker from 'vuejs-datepicker'
  import { nl } from 'vuejs-datepicker/dist/locale'
  import Timeselector from 'vue-timeselector'
  import ButtonInput from '@/components/ButtonInput'
  import FaButtonInput from '@/components/ButtonInputFa'

  export default {
    name: 'EditEventForm',
    components: { FaButtonInput, ButtonInput, InputTextarea, FormInput, Datepicker, Timeselector},
    props: ['invited', 'title', 'description', 'date', 'timefrom', 'timeto', 'location', 'fileName'],
    created: function () {
      this.calculateDisabledHoursAndMinutes()
    },
    data: function () {
      return {
        nl: nl,
        gottenTitle: this.title,
        gottenDescription: this.description,
        startTime: new Date(this.timefrom),
        endTime: new Date(this.timeto),
        gottenDate: new Date(this.date.replace(/-/g, '/')), // Replace - with / for use on Safari
        gottenLocation: '',
        email: '',
        emails: this.invited,
        disabledHours: [],
        disabledMinutes: [],
        gottenFileName: this.gottenFileName
      }
    },
    computed: {
      watchAllVariables () {
        return `${this.gottenTitle}|${this.gottenDescription}|${this.gottenDate}|${this.gottenLocation}|${this.gottenFileName}`
      }
    },
    watch: {
      gottenDate: function (newVal, oldVal) {
        this.gottenDate = newVal
      },
      watchAllVariables: function () {
        document.getElementById('saveButton').disabled = !(this.gottenTitle && this.gottenDescription !== '' && this.gottenDate)
      }
    },
    methods: {
      getFileName () {
        this.fileName = this.$refs.theFile.files[0].name
      },
      redirect  (path) {
        this.$router.push(path)
      },
      onDateSelect (theDate) {
        this.$emit('date', theDate)
      },
      getDateYesterday () {
        var date = new Date();
        date.setDate(date.getDate() - 1)
        return date
      },
      addUserToList () {
        if (this.email.includes('@') && this.email.includes('.')) {
          this.emails.push(this.email)
        }
      },
      removeUserFromList (givenEmail) {
        this.emails.splice(this.emails.indexOf(givenEmail), 1)
      },
      calculateDisabledHoursAndMinutes () {

        if (new Date(this.endTime) < new Date(this.startTime)){
          this.endTime = new Date(new Date(this.startTime).setHours(new Date(this.startTime).getHours() + 2))
        }
        this.disabledHours = []
        this.disabledMinutes = []
        var hours = new Date(this.startTime).getHours()
        var minutes = new Date(this.startTime).getMinutes()
        for (var i = 0; i < hours; i++){
          this.disabledHours.push(i)
        }

        for (var x = 0; x <= minutes; x += 5) {
          this.disabledMinutes.push(x)
        }
      }
    }
  }
</script>

<style scoped>

</style>
