<template>
    <div id="message" :class="this.type">
      <p v-html="message"></p>
    </div>
</template>

<script>
  export default {
    name: 'ErrorMessage',
    props: ['message', 'type']
  }
</script>

<style scoped>

</style>
