<template>
  <div class="event-container" >
    <div class="event-availability-container">
      <div class="event">
        <router-link :to="/event/ + id">
          <div class="event-upper">
            <!--          <img :src="resolve_img_url(theimage)" alt="event photo"/>-->
            <img :src="resolve_img_url(theimage)" alt="event photo"/>
            <!--          TODO: Add correct link to event edit page -->
            <router-link  class="edit-container"  :to="/editevent/ + id">
              <div v-if="checkOwner(owner)" class="edit"><i class="fas fa-pencil"></i></div>
            </router-link>
            <div class="date">{{date}}</div>
          </div>
        </router-link>
        <div class="event-lower">
          <router-link :to="/event/ + id">
            <div class="event-title">{{title}}</div>
            <div class="event-time">{{timefrom}} - {{timeto}}</div>
            <div class="event-location">{{location}}</div>
            <div class="event-description">{{createExcerpt(description, 25)}}</div>
          </router-link>
          <div class="availability" v-if="theStatus !== undefined">
            <fa-button-input v-on:click.native="showChoices()"  :icon="btnText[theStatus]" ></fa-button-input>
            <b v-on:click="showChoices()">{{availabilityText[theStatus]}} </b>
          </div>
        </div>
    </div>
    </div>
    <status-indicator v-model="theStatus" :the-status="theStatus" availability-text="availabilityText" btn-text="btnText" :visibility="statusActive"></status-indicator>

  </div>
</template>

<script>
  import FaButtonInput from '@/components/ButtonInputFa'
  import StatusIndicator from '@/components/StatusIndicator'
  import * as axios from 'axios'
  export default {
    name: 'Event',
    components: { StatusIndicator, FaButtonInput, axios },
    props: ['id', 'title', 'date', 'theimage', 'timefrom', 'timeto', 'location', 'description', 'status', 'eventmode', 'owner'],
    data: function () {
      return {
        btnText: ['fa fa-check', 'fa fa-tilde', 'fa fa-times', 'fa fa-question'],
        availabilityText: ['Aanwezig', 'Misschien', 'Niet aanwezig', 'Nog niet opgegeven'],
        theStatus: this.status,
        statusActive: false,
        store: this.$store
      }
    },

    watch: {
      theStatus: function (newVal, oldVal) {
        this.changeStatus(newVal)
      }
    },

    methods: {
      // resolving the img URL
      resolve_img_url: function (path) {
        let images = require.context('../assets/predefined-images/', false, /\.png$|\.jpg$/)
        return images('./' + path)
      },
      // TODO: Multiple owners?
      checkOwner: function (owner) {
        // console.log(owner + ' ' + this.$store.state.id)
        return owner === this.$store.state.id;

      },
      changeStatus: function (newStatus) {
        var self = this
        axios
          .put(self.store.getters.apiURL + '/invite/put/status/', {
            status: newStatus,
            eventID: self.id,
            userID: self.store.getters.id
          })
          .then(function (response) {
            if (response.data.error) {
              console.log(response.data.error)
            }
          })
      },
      // Create small excerpt with given length
      createExcerpt: function (description, length) {
        var splitContent = description.split(' ')
        var excerpt = ''
        for (var i = 0; i < description.split(' ').length; i++) {
          if (i < length) {
            excerpt += splitContent[i] + ' '
          }
        }
        if (length < description.split(' ').length) {
          excerpt = excerpt.substring(0, excerpt.length - 1) + '...'
        }
        excerpt = excerpt.replace(/<\/?[^>]+(>|$)/g, '')
        return excerpt
      },

      // Show button menu for choices of participation
      showChoices: function () {
        this.statusActive = !this.statusActive
      }
      // setActive: function(newvalue){
      //   this.showChoices()
      //   // console.log(status)
      //   this.$emit('input', newvalue)
      // }
    }
  }
</script>

<style scoped>

</style>
