<template>
  <div id="event-container-outer">
    <div id="event-menu">
      <div id="event-menu-items">
        <div class="event-menu-item" v-bind:class="{ active:  view === 1 }" @click="changeView(1)">
          <i class="fas fa-info fa-lg"/>
        </div>
        <div class="event-menu-item" v-bind:class="{ active:  view === 2 }" @click="changeView(2)">
          <i class="fas fa-address-book fa-lg"/>
        </div>
        <div v-if="lat && lng" class="event-menu-item" v-bind:class="{ active:  view === 3  }" @click="changeView(3)">
          <i class="fas fa-map-marker-alt fa-lg"/>
        </div>
        <div class="event-menu-item" v-if="owner === this.store.getters.id" v-bind:class="{ active:  view === 4 }" @click="changeView(4)">
          <i class="fas fa-comments fa-lg"/>
        </div>
        <div class="event-menu-item" v-if="owner === this.store.getters.id" v-bind:class="{ active:  view === 5 }" @click="changeView(5)">
          <i class="fas fa-clipboard-list-check fa-lg"/>
        </div>
        <div class="event-menu-item" v-if="owner === this.store.getters.id" v-bind:class="{ active:  view === 6 }" @click="changeView(6)">
          <i class="fas fa-save fa-lg"/>
        </div>
      </div>
    </div>
      <div id="event-container">
        <div class="main-view" v-if="view === 1" v-bind:class="{ hidden : view === 1 }">
        <div id="header">
          <div id="title">
            <h1>{{title}}</h1>
          </div>
          <div id="subtitle">
          </div>
        </div>
        <div id="event-container-inner">
          <div id="event-img">
            <img v-if="image" :src="resolve_img_url(image)" alt="event photo"/>
          </div>
          <div id="event-details">
            <b>Beschrijving</b>
            <p id="description">{{description}}</p>
            <div id="event-details-upper">
              <div id="event-details-icons">
                <b>Info</b>
                <ul id="icons-top">
                  <li><i class="fas fa-calendar-check"/> {{date}}</li>
                  <li><i class="fas fa-clock"/> {{timefrom + " - " + timeto}}</li>
                  <li><i class="fas fa-map-marker-alt"/> {{location}}</li>
                </ul>

                <div v-if="invitedCount" id="invited-list">
                  <b>Gastenlijst</b>
                  <ul id="icons-bottom">
                    <li><i class="fas fa-check"/> {{attendingCount}} aanwezig</li>
                    <li><i class="fas fa-tilde"/> {{perhapsCount}} misschien</li>
                    <li><i class="fas fa-times"/> {{notAttendingCount}} niet aanwezig</li>
                    <li><i class="fas fa-question"/> {{notRespondedCount}} nog niet geantwoord</li>
                    <li><i class="fas fa-users"/> {{invitedCount}} totaal uitgenodigd</li>
                  </ul>
                </div>
              </div>

              <div id="event-details-status">
                <div id="status-details">
                  <p><b>Aanwezigheid</b></p>
                  <status-indicator v-model="theStatus" :the-status="status" :visibility="true"/>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h2>Opmerking geven</h2>
        <div id="event-details-lower">
          <form id="remarks-form">
            <form-textarea placeholder="Opmerkingen" id="remarks" :given-value="note" v-model="theNotes"/>
            <button-input text="Opslaan" @click.native="save"/>
          </form>
        </div>
      </div>

        <div id="invited" v-if="view === 2">
          <user-info-row v-for="(invitee, index) in invited" v-bind:key="`error-${index}`" :name="invitee.firstname "
                         :status="invitee.status"/>
        </div>

        <div id="map-and-directions" v-if="view === 3 && lat && lng">
          <h1>{{this.location}}</h1>
          <google-map :lat="lat" :lng="lng"/>
        </div>

        <div id="comments" v-if="view === 4 && owner === this.store.getters.id">
          <h1>Opmerkingen van gebruikers</h1>
          <user-comment v-for="(note, index) in fullNotes" :firstname="note.firstname" :lastname="note.lastname" :email="note.email" :comment="note.notes" v-bind:key="index"/>
        </div>

        <div id="todo" v-if="view === 5 && owner === this.store.getters.id">
          <h1>To do lijst</h1>
          <to-do-list :todoItems="todoItems"/>
        </div>

        <div id="preset" v-if="view === 6 && owner === this.store.getters.id">
          <h1>Evenement opslaan als preset</h1>
          <save-overwrite-preset/>
        </div>
      </div>
  </div>

</template>

<script>
  import StatusIndicator from '@/components/StatusIndicator'
  import FormInput from '@/components/FormInput'
  import ButtonInput from '@/components/ButtonInput'
  import FormTextarea from '@/components/FormTextarea'
  import UserInfoRow from '@/components/UserInfoRow'
  import GoogleMap from '@/components/GoogleMap'
  import UserComment from '@/components/UserComment'
  import ToDoList from '@/components/ToDoList'
  import SaveOverwritePreset from '@/components/SaveOverwritePreset'
  export default {
    name: 'EventDetails',
    components: { SaveOverwritePreset, ToDoList, UserComment, GoogleMap, UserInfoRow, FormTextarea, ButtonInput, StatusIndicator },
    props: ['title', 'status', 'description', 'timeto', 'timefrom', 'location', 'date', 'image', 'note', 'fullInvites', 'owner', 'invited', 'lat', 'lng', 'todoItems'],
    data: function () {
      return {
        view: 1,
        theStatus: status,
        theNotes: null,
        store: this.$store,
        attendingCount: 0,
        perhapsCount: 0,
        notAttendingCount: 0,
        notRespondedCount: 0,
        invitedCount: 0,
        fullNotes: []
      }
    },
    created: function () {
      this.calculateGuestList()

      for (var x = 0; x < this.fullInvites.length; x++) {
        if (this.fullInvites[x].notes) {
          for (var y = 0; y < this.invited.length; y++){
            if (this.invited[y].email === this.fullInvites[x].email){
              this.fullInvites[x]['firstname'] = this.invited[y].firstname
              this.fullInvites[x]['lastname'] = this.invited[y].lastname
            }
          }
          this.fullNotes.push(this.fullInvites[x])
        }
      }
    },
    mounted: function () {
    },
    watch: {
      theStatus: function (newVal) { // watch it
        this.$emit('input', { 'status': newVal })
        this.calculateGuestList()
      },
      fullInvites: function (newVal) {
        this.fullInvites = newVal
        this.calculateGuestList()
      }
    },
    methods: {
      resolve_img_url: function (path) {
        let images = require.context('../assets/predefined-images/', false, /\.png$|\.jpg$/)
        return images('./' + path)
      },
      save: function () {
        var notes = this.notes
        if (this.theNotes) {
          notes = this.theNotes
        }
        this.$emit('input', { 'notes': notes })
      },
      changeView: function (newView) {
        this.view = newView
      },
      calculateGuestList: function () {
        this.attendingCount = 0
        this.perhapsCount = 0
        this.notAttendingCount = 0
        this.notRespondedCount = 0
        this.invitedCount = 0
        for (var i = 0; i < this.fullInvites.length; i++) {
          this.invitedCount++
          switch (this.fullInvites[i].status) {
            case 0:
              this.attendingCount++
              break
            case 1:
              this.perhapsCount++
              break
            case 2:
              this.notAttendingCount++
              break
            default:
              this.notRespondedCount++
          }
        }
      },

    }
  }
</script>

<style scoped>

</style>
