<template>
  <div>
    <label>{{givenText}}</label>
    <label>
      <textarea :placeholder="givenPlaceholder" :value="givenValue" :id="givenID" v-on:input="$emit('input', $event.target.value)" ></textarea>
    </label>
  </div>
</template>

<script>
  export default {
    name: 'formTextarea',
    props: ['givenType', 'givenPlaceholder', 'givenText', 'givenValue', 'givenID']
  }
</script>
