<template>
  <div class="input">
    <label>{{givenText}}</label>
    <label>
      <input :type="givenType" :placeholder="givenPlaceholder" :value="givenValue" :id="givenID" v-on:input="$emit('input', $event.target.value)">
    </label>
  </div>
</template>

<script>
  export default {
    name: 'FormInput',
    props: ['givenType', 'givenPlaceholder', 'givenText', 'givenValue', 'givenID']
  }
</script>
