<template>
  <div id="location-autocomplete-container">
    <form-input given-type="text" given-i-d="location" given-placeholder="" :given-text="giventext"
                :given-value="location" v-model="thelocation"/>
  </div>
</template>

<script>
  import FormInput from '@/components/FormInput'
  export default {
    name: 'GoogleLocationSelector',
    data: function () {
      return {
        thelocation: this.location
      }
    },
    components: { FormInput },
    props: ['giventext', 'location', 'givenvalue'],
    created: function () {
      let self = this
      this.$nextTick(function () {
        var input = document.getElementById('location')
        var autocomplete = new google.maps.places.Autocomplete(input)
        autocomplete.setFields(['formatted_address', 'geometry'])
        autocomplete.addListener('place_changed', function () {
          var ACP = autocomplete.getPlace()
          self.sendInput(ACP.formatted_address, ACP.geometry.location.lat(), ACP.geometry.location.lng())
        })
      })
    },
    watch: {
      thelocation: function (newval) {
        this.sendInput(newval, null, null)
      }
    },
    methods: {
      sendInput (googleLocation, lat, lng) {
        this.$emit('input', { 'location': googleLocation, 'lat': lat, 'lng': lng })
      }
    }
  }
</script>
