<template>
  <div id="map-directions-container">
    <div id="google-map"></div>
    <div id="location-selector">
      <div id="location-input">
        <label>Vanaf waar wilt u vertrekken?</label>
        <google-location-selector  v-model="destinationInput" />
      </div>

      <div id="location-info">
        <div id="to-from-container">
          <div id="location-info-inner" v-if="endAddress && startAddress">
            <h2>{{time}} - {{ kilometers }}</h2>
            <div class="location-item">
              <div class="icon">
                <i class="far fa-circle"/>
              </div>
              <div class="location">
                {{ startAddress }}
              </div>
            </div>

            <div class="location-item">
              <div class="icon" id="between-icon">
                <i class="fas fa-circle"/>
                <i class="fas fa-circle"/>
                <i class="fas fa-circle"/>
              </div>
              <div class="location">
              </div>
            </div>

            <div class="location-item">
              <div class="icon" id="destination">
                <i class="far fa-map-marker-alt"/>
              </div>
              <div class="location">
                {{ endAddress }}
              </div>
            </div>
          </div>

          <div id="directions">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import GoogleLocationSelector from '@/components/GoogleLocationSelector'
  export default {
    name: 'GoogleMap',
    components: { GoogleLocationSelector },
    props: ['lat', 'lng'],
    data: function () {
      return {
        destination: null,
        destinationInput: null,
        time: null,
        kilometers: null,
        startAddress: null,
        endAddress: null,
        directionsService: new google.maps.DirectionsService(),
        directionsRenderer: new google.maps.DirectionsRenderer()
      }
    },
    watch:{
      destinationInput: function (newVal) {
        this.initRoute(newVal.lat, newVal.lng)
      }
    },
    mounted: function () {
      var self = this

      const element = document.getElementById('google-map')
      const destination = new google.maps.LatLng(this.lat, this.lng)
      self.destination = destination
      const options = {
        zoom: 14,
        center: destination
      }
      const map = new google.maps.Map(element, options)
      self.directionsRenderer.setMap(map)
      var marker = new google.maps.Marker({ position: destination, map: map, animation: google.maps.Animation.DROP })
    },
    methods: {
      initRoute: function (destLat, destLng) {
        var self = this
        var request = {
          origin: new google.maps.LatLng(destLat, destLng),
          destination: new google.maps.LatLng(this.lat, this.lng),
          travelMode: 'DRIVING'
        }
        self.directionsService.route(request, function (result, status) {
          if (status === 'OK') {
            self.directionsRenderer.setDirections(result)

            self.time = result.routes[0].legs[0].duration.text
            self.kilometers = result.routes[0].legs[0].distance.text
            self.startAddress = result.routes[0].legs[0].start_address
            self.endAddress = result.routes[0].legs[0].end_address

            self.directionsRenderer.setPanel(document.getElementById('directions'))
          }
        })
      }
    }
  }
</script>

<style scoped>

</style>
