<template>
  <div>
    <label class="checkbox">{{givenText}}
      <input class="checkbox-input" type="checkbox" v-bind:checked="givenValue" v-on:input="changeCheckbox">
      <span class="checkmark"></span>
    </label>
  </div>
</template>

<script>
  export default {
    name: 'inputCheckbox',
    props: ['givenText', 'givenValue'],
    data: function () {
      return {

      }
    },
    methods: {
      changeCheckbox: function (newValue) {
        this.$emit('input', newValue.target.checked)
      }
    }
  }
</script>

<style scoped>

</style>
