<template>
  <div>
    <label>{{title}}</label>
    <label>
      <textarea :placeholder="placeholder" :value="value" v-on:input="$emit('input', $event.target.value)"></textarea>
    </label>
  </div>
</template>

<script>
  export default {
    name: 'InputTextarea',
    props: ['title', 'placeholder', 'value']
  }
</script>

<style scoped>

</style>
