<template>
    <div id="login-container">
      <div id="login-message-container">
        <div id="message-container" v-if="errorMsg">
          <error-message v-for="error in errorMsg" :message="error" :type="msgType"></error-message>
        </div>
        <div id="login-form-container">
          <img alt="GathrUp logo" src="../assets/GathrUp-logo-400.png"/>
          <h1>Login</h1>
          <p class="small-text">Heeft u nog geen account? <router-link to="/register">Maak een account</router-link></p>
          <p id="reset-password" class="small-text">Wachtwoord vergeten? <router-link to="/reset-password">Vraag wachtwoord opnieuw aan</router-link></p>
          <form>
            <form-input given-type="text" v-model="email" given-placeholder="E-mail"></form-input>
            <form-input given-type="password" v-model="password" given-placeholder="Wachtwoord"></form-input>
            <button-input @click.native="login" text="Inloggen"/>
          </form>
        </div>
        <div id="extra-message">
          <p v-if="verification">
            Heeft u geen e-mail gehad? <a v-on:click="resendVerificationEmail">Verzend e-mail opnieuw</a>
          </p>
        </div>
      </div>
    </div>
</template>

<script>
import FormInput from '@/components/FormInput'
import ButtonInput from '@/components/ButtonInput'
import * as axios from 'axios'
import ErrorMessage from '@/components/ErrorMessage'

export default {
    name: 'LoginForm',
  components: { ErrorMessage, ButtonInput, FormInput },
  data: function () {
    return {
      store: this.$store,
      router: this.$router,
      email: '',
      password: '',
      errorMsg: null,
      msgType: null,
      verification: null,
      gottenEmail: null
    }
  },
  methods: {
    login () {
      var self = this
      self.gottenEmail = self.email
      axios
        .post(this.store.getters.apiURL + '/user/login', {
          email: this.email,
          password: this.password
        })
        .then(function (response) {
          if (response.data.error) {
            self.errorMsg = response.data.errormsg
            self.msgType = 'warning'

            if (response.data.type){
              setTimeout(() => {
                self.verification = response.data.type
              }, 4000)
            }
            else {
              self.verification = null
            }

          }
          else {
            self.errorMsg = null
            self.store.commit('login', response.data.result.id)
            self.router.push('/')
            self.verification = null
          }
        })
        .catch(error => {
          self.errorMsg = ['Er is iets fout gegaan. Propeer het later opnieuw']
          self.msgType = 'warning'
        })
    },
    resendVerificationEmail: function () {
      // /user/sendAccountVerificationMail/byEmail/
      var self = this
      axios
        .post(this.store.getters.apiURL + '/user/send_account_verification_mail/by_email/' + this.gottenEmail, {
        })
        .then(function (response) {
          if (response.data.error) {
            self.errorMsg = response.data.errormsg
            self.msgType = 'warning'
            console.log('Something wong')
          }
          console.log('something wright')
          self.errorMsg = ['Er is een e-mail verzonden naar het e-mail adres wat u heeft ingevuld voor verificatie.']
          self.msgType = 'success'
        })
        .catch(error => {
          self.errorMsg = ['Er is iets fout gegaan. Propeer het later opnieuw']
          self.msgType = 'warning'
        })
    }
  },
  created: function () {
    if (this.$route.params.returnMsg && this.$route.params.returnMsgType){
      this.errorMsg = this.$route.params.returnMsg
      this.msgType = this.$route.params.returnMsgType
    }

    if (this.$route.params.verification){
      this.verification = this.$route.params.verification
      this.gottenEmail = this.$route.params.gottenEmail
    }
  }
}
</script>
