<template>
    <div id="modal-container"  @click.self="toggleModal" v-if="modalVisable">
      <div id="modal-container-inner">
        <div id="modal">
          <div id="modal-header">
            <i v-on:click="toggleModal" class="fas fa-times fa-lg"/>
          </div>
          <slot/>
        </div>
      </div>
    </div>
</template>

<script>
  export default {
    name: 'Modal',
    props: ['modalVisable'],
    methods: {
      toggleModal: function () {
        this.$emit('input', !this.modalVisable)
      }
    }
  }
</script>

<style scoped>

</style>
