<template>
  <v-select :options="fullOptions" :filterable="false" @input="optionSelected" label="_id">
    <template slot="no-options">
      Zoek preset op naam
    </template>
    <template slot="option" slot-scope="option">
      <div class="d-center" v-if="option.overwrite || !overwrite">
        {{ option.title }}
      </div>

      <div class="d-center" v-if="overwrite && !option.overwrite">
        {{ option.title }} overschrijven
      </div>


    </template>
    <template slot="selected-option" slot-scope="option">
      <div class="selected d-center" v-if="option.overwrite || !overwrite">
        {{ option.title }}
      </div>

      <div class="selected d-center" v-if="overwrite && !option.overwrite">
        {{ option.title }} overschrijven
      </div>
    </template>
  </v-select>
</template>

<script>
  import vSelect from 'vue-select'
  import * as axios from 'axios'
  import 'vue-select/dist/vue-select.css'
  export default {
    name: 'PresetSelector',
    props: ['presetType', 'extraOptionsArray', 'overwriteValue'],
    components: {
      vSelect,
      axios
    },
    data: function () {
      return {
        store: this.$store,
        fullOptions: [],
        value: null,
        extraOptions: [],
        overwrite: false
      }
    },
    created: function () {
      if (this.extraOptionsArray){
        for (var i = 0; i < this.extraOptionsArray.length; i++){
          this.extraOptions.push(this.extraOptionsArray[i])
        }
      }
      if (this.overwriteValue) {
        this.overwrite = !this.overwrite
      }
      console.log(this.overwrite)
      this.searchCall()
    },
    methods: {
      optionSelected: function (result) {
        this.$emit('input', result)
      },
      fetchOptions: function (search, loading) {
        loading(true)
        this.searchCall(loading, search)
      },
      searchCall: function (loading, search) {
        var self = this
        if (search !== '') {
          axios
            .get(this.store.getters.apiURL + '/preset/get/by_user_id/' + self.store.getters.id + '/' + self.presetType, {
            })
            .then(function (response) {
              if (response.data.error) {
                self.errorMsg = response.data.errormsg
                self.msgType = 'warning'
              } else {
                self.msgType = 'success'
                self.fullOptions = self.extraOptions.concat(response.data.result)
              }
            })
            .catch(error => {
              self.errorMsg = ['Er is iets fout gegaan. Propeer het later opnieuw']
              self.msgType = 'warning'
              console.log(error)
            })
        } else {
          loading(false)
        }
      }
    }
  }
</script>

<style scoped>

</style>
