<template>
  <div id="profile-container">
    <remove-modal v-model="returnvalue" :active="showRemoveModal" keep-btn-text="Account behouden"
                  remove-btn-text="Account definitief verwijderen"
                  message="Weet u zeker dat u uw account wilt verwijderen?"/>
    <div id="profile-form-container">
      <h1>Account wijzigen</h1>
      <div id="message-container" v-if="errorMsg">
        <error-message v-for="error in errorMsg" :message="error" :type="msgType"/>
      </div>
      <div id="profile-form">
        <form>
          <div id="personal-info">
            <div class="form-half">
              <form-input given-type="text" :given-value="firstname" v-model="firstname" given-placeholder="Voornaam"
                          given-text="Voornaam"/>
            </div>
            <div class="form-half">
              <form-input given-type="text" :given-value="lastname" v-model="lastname" given-placeholder="Achternaam"
                          given-text="Achternaam"/>
            </div>
          </div>
          <div id="info">
            <form-input given-type="text" :given-value="email" v-model="email" given-placeholder="E-mail adres"
                        given-text="E-mail adres"/>
              <div id="checkboxes">
                <input-checkbox v-model="notifications" :given-value="notifications"
                                given-text="Notificaties bij wijzigingen"/>
              </div>
            <router-link to="/profile/edit-password">Wachtwoord wijzigen</router-link>
          </div>
          <div id="lower-buttons">
            <fa-button-input id="remove-account" icon="fas fa-ban" @click.native="showDeleteModal()"
                             text=" Account verwijderen"/>
            <fa-button-input icon="fas fa-save" text=" Opslaan" @click.native="updateUser"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import FormInput from '@/components/FormInput'
  import InputCheckbox from '@/components/InputCheckbox'
  import ButtonInput from '@/components/ButtonInput'
  import * as axios from 'axios'
  import ErrorMessage from '@/components/ErrorMessage'
  import FaButtonInput from '@/components/ButtonInputFa'
  import RemoveModal from '@/components/RemoveModal'
  export default {
    name: 'ProfileForm',
    components: { RemoveModal, FaButtonInput, ErrorMessage, ButtonInput, InputCheckbox, FormInput },
    data: function (){
      return {
        store: this.$store,
        firstname: '',
        lastname: '',
        email: '',
        notifications: '',
        errorMsg: null,
        msgType: null,
        showRemoveModal: false,
        returnvalue: null
      }
    },
    watch: {
      returnvalue: function (newVal) {
        this.showRemoveModal = newVal.visibility
        var self = this
        if (newVal.remove) {
          axios
            .delete(this.store.getters.apiURL + '/user/delete/by_id/' + this.store.getters.id, {
            })
            .then(function (response) {
              if (response.data.error) {
                self.errorMsg = response.data.errormsg
                self.msgType = 'warning'
              }
              else {
                self.store.commit('logout')
                self.$router.push({ name: 'login', params: { returnMsg: ['Account successvol verwijderd!'], returnMsgType: 'success' } })
              }
            })
            .catch(error => {
              self.errorMsg = ['Er is iets fout gegaan, probeer het later opnieuw']
              self.msgType = 'warning'
              document.getElementById('profile-form').innerHTML = ''
              console.log(error)
            })

        }
      }
    },
    methods: {
      updateUser: function () {
        var self = this
        this.errorMsg = null
        axios
          .put(this.store.getters.apiURL + '/user/put/by_id/' + this.store.getters.id, {
            firstName: this.firstname,
            lastName: this.lastname,
            email: this.email,
            notifications: this.notifications
          })
          .then(function (response) {
            if (response.data.error) {
              self.errorMsg = response.data.errormsg
              self.msgType = 'warning'
            }
            else {
              self.errorMsg = ['Profiel successvol aangepast!']
              self.msgType = 'success'
            }
          })
          .catch(error => {
            self.errorMsg = ['Er is iets fout gegaan, probeer het later opnieuw']
            self.msgType = 'warning'
            document.getElementById('profile-form').innerHTML = ''
          })
      },
      showDeleteModal: function () {
        this.showRemoveModal = !this.showRemoveModal
      }
    },
    created: function () {
      if (this.$route.params.returnMsg && this.$route.params.returnMsgType){
        this.errorMsg = this.$route.params.returnMsg
        this.msgType = this.$route.params.returnMsgType
      }
      var self = this
      axios
      .get(this.store.getters.apiURL + '/user/get/by_id/' + this.store.getters.id, {
      })
        .then(function (response) {
          if (response.data.error) {
            document.getElementById('profile-form').innerHTML = '<h1>Something went wrong, please try again later</h1>'
          }
          else {
            self.email = response.data.result.email
            self.firstname = response.data.result.firstname
            self.lastname = response.data.result.lastname
            self.notifications = response.data.result.notifications
          }
        })
        .catch(error => {
          // document.getElementById('profile-form').innerHTML = '<h3>Something went wrong, please try again later</h3>'
        })
    }
  }
</script>

<style scoped>

</style>
