<template>
  <div id="register-container">
    <div id="register-message-container">
      <div id="message-container" v-if="errorMsg">
        <error-message v-for="error in errorMsg" :message="error" :type="msgType"/>
      </div>
      <div id="register-form-container">
        <img alt="GathrUp logo" src="../assets/GathrUp-logo-400.png"/>
        <h1>Registreren</h1>
        <p class="small-text">Heeft u al een account? <router-link to="/login">Log in met uw account</router-link></p>
        <form>
          <form-input given-type="text" given-placeholder="Voornaam" v-model="firstName"/>
          <form-input given-type="text" given-placeholder="Achternaam" v-model="lastName"/>
          <form-input given-type="text" given-placeholder="E-mail" v-model="email"/>
          <form-input given-type="password" given-placeholder="Watchtwoord" v-model="password"/>
          <form-input given-type="password" given-placeholder="Herhaal wachtwoord" v-model="repeatPassword"/>
          <input-checkbox v-model="notifications" id="notifications-checkbox"
                          given-text="Ik wil per e-mail notificaties ontvangen voor wijzigingen van evenementen"/>
          <input-checkbox v-model="terms" id="terms-of-agreement"
                          given-text="Ik ga akkoord met de algemene voorwaarden"/>
          <button-input text="Registreren" @click.native="register" location="#"/>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import FormInput from '@/components/FormInput'
  import ButtonInput from '@/components/ButtonInput'
  import * as axios from 'axios'
  import InputCheckbox from '@/components/InputCheckbox'
  import ErrorMessage from '@/components/ErrorMessage'
  export default {
    name: 'RegisterForm',
    components: { ErrorMessage, InputCheckbox, ButtonInput, FormInput },
    data: function () {
      return {
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        repeatPassword: '',
        errorMsg: null,
        msgType: null,
        notifications: false,
        terms: false,
        store: this.$store
      }
    },
    methods: {
      register () {
        var self = this
        this.errorMsg = ''
        if (this.password === this.repeatPassword && this.terms) {
            axios
              .post(this.store.getters.apiURL + '/user/register', {
                email: this.email,
                firstName: this.firstName,
                lastName: this.lastName,
                password: this.password,
                notifications: this.notifications
              })
              .then(function (response) {
                console.log(response)
                if (response.data.error) {
                  self.errorMsg = response.data.errormsg
                  self.msgType = 'warning'
                }
                else {
                  self.$router.push({ name: 'login', params: { verification: true, returnMsg: ['Uw account is aangemaakt. Er is een e-mail verzonden naar het e-mail adres wat u heeft ingevuld voor verificatie.'], returnMsgType: 'success', gottenEmail: self.email} })
                }
              })
              .catch(error => {
                self.errorMsg = ['Er is iets fout gegaan. Propeer het later opnieuw']
                self.msgType = 'warning'
              })
        }
        else {
          var warnings = []
          if (this.password !== this.repeatPassword){
            warnings.push('Wachtwoorden komen niet overeen!')
          }
          if (!this.terms){
            warnings.push('Er moet akkoord gegaan worden met de algemene voorwaarden!')
          }
          self.errorMsg = warnings
          self.msgType = 'warning'
        }
      }
    }
  }
</script>

