<template >
    <div id="modal-container"  @click.self="turnOffModal" v-if="visible">
      <div id="modal-container-inner">
        <div id="modal">
          <div id="modal-header">
            <i  v-on:click="turnOffModal" class="fas fa-times fa-lg"></i>
          </div>
          <h3>{{ message }}</h3>

          <div id="button-form">
            <fa-button-input @click.native="turnOffModal" :text="keepBtnText"></fa-button-input>
            <fa-button-input :text="removeBtnText" @click.native="remove" class="remove-btn"></fa-button-input>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
  import FaButtonInput from '@/components/ButtonInputFa'
  export default {
    name: 'RemoveModal',
    components: { FaButtonInput },
    props: ['message', 'active', 'removeBtnText', 'keepBtnText'],
    data: function () {
      return {
        visible: this.active,
        return: null
      }
    },
    methods: {
      turnOffModal: function () {
        this.visible = !this.visible
        this.$emit('input', { 'visibility': this.visible, 'removeAccount': false })
      },
      remove: function () {
        this.visible = !this.visible
        this.$emit('input', { 'visibility': this.visible, 'remove': true })
      }
    },
    watch: {
      active: function (newVal) {
        this.visible = newVal
      }
    }
  }
</script>
