<template>
    <div id="save-overwrite-preset">
      <modal :modal-visable="modal" v-model="modal">
        <h1>Hello there</h1>
      </modal >
      <h2>Selecteer wat u wilt doen</h2>
      <preset-selector preset-type="EVENT" :extra-options-array="[{title: 'Nieuwe preset maken', _id: 'nwprst', overwrite: true}]" :overwriteValue="true" v-model="selectedPreset"/>
    </div>
</template>

<script>
  import PresetSelector from '@/components/PresetSelector'
  import Modal from '@/components/Modal'
  export default {
    name: 'SaveOverwritePreset',
    components: { Modal, PresetSelector },
    data: function () {
      return {
        selectedPreset: null,
        modal: false
      }
    },
    watch: {
      selectedPreset: function (selectedPreset) {
        console.log(selectedPreset)
        // TODO: get event values
        if (selectedPreset._id === 'nwprst'){
          console.log('selected new preset')
        }
        this.toggleModal()


      }
    },
    methods: {
      toggleModal: function () {
        this.modal = !this.modal
      }
    }
  }
</script>

<style scoped>

</style>
