<template>
  <div class="skeleton-container">
    <div class="skeleton-inner">
      <div class="skeleton-upper shimmer">
      </div>
      <div class="skeleton-lower">
        <div class="skeleton-title shimmer"></div>
        <div class="skeleton-time shimmer"></div>
        <div class="skeleton-location shimmer"></div>
        <div class="skeleton-description shimmer"></div>
        <div class="skeleton-description shimmer"></div>
        <div class="skeleton-description shimmer"></div>
        <div class="skeleton-description shimmer"></div>
        <div class="skeleton-description shimmer"></div>
        <div class="skeleton-button-group">
          <div class="skeleton-button shimmer"></div>
          <div class="skeleton-button-status shimmer"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import FaButtonInput from '@/components/ButtonInputFa'
  export default {
    name: 'SkeletonEvent',
    components: { FaButtonInput },
    methods: {
      // resolving the img URL
      resolve_img_url: function (path) {
        let images = require.context('../assets/', false, /\.png$|\.jpg$/)
        return images('./' + path)
      },
    }
  }
</script>

<style scoped>

</style>
