<template>
  <div ref="choices" class="choices" v-if="theVisibility">
    <fa-button-input :disabled="theStatus === 0" v-on:click.native="setActive(0)" :icon="btnText[0]"></fa-button-input>
    <fa-button-input :disabled="theStatus === 1" v-on:click.native="setActive(1)" :icon="btnText[1]"></fa-button-input>
    <fa-button-input :disabled="theStatus === 2" v-on:click.native="setActive(2)" :icon="btnText[2]"></fa-button-input>
  </div>
</template>

<script>
  import FaButtonInput from '@/components/ButtonInputFa'
  export default {
    name: 'StatusIndicator',
    components: { FaButtonInput },
    props: ['theStatus', 'visibility'],
    data: function () {
      return {
        btnText: ['fa fa-check', 'fa fa-tilde', 'fa fa-times', 'fa fa-question'],
        theVisibility: this.visibility
      }
    },
    methods: {
      // Show button menu for choices of participation
      setActive: function (newvalue) {
        this.$emit('input', newvalue)
      }
    },
    watch: {
      visibility: function (newVal) { // watch it
        this.theVisibility = newVal
      }
    }
  }

</script>
