<template>
  <div id="step-counter">
    <div class="step-item" v-for="step in this.maxsteps">
      <div class="step" v-bind:class="{ stepActive: currentstep === step, stepOver: currentstep > step}">{{step}}
      </div>
      <div v-if="step !== maxsteps" class="divider"><svg><line x1="0" y1="0" x2="50" y2="0"/></svg></div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Steps',
    props: ['currentstep', 'maxsteps']
  }
</script>

<style scoped>

</style>
