<template>
    <div class="time-range-picker">
<!--      <v-select :options="availableTimes" :value="time" @input="time => setTime('hello', time)" >-->
      <div class="time-boxes">
        <div class="time-from">
          <label>Vanaf</label>
          <v-select v-model="timeFrom" class="time-select" :value="this.fromTime" :options="availableTimes">
            <div slot="no-options">Geen tijden gevonden of het is al later dan gegeven tijd!</div>
          </v-select>
        </div>
        <div class="time-to">
          <label>Tot</label>
          <v-select v-model="timeTo" :value="this.toTime" class="time-select"  :options="availableToTimes" :disabled="disabled">
            <div slot="no-options">Geen tijden gevonden of het is al later dan gegeven tijd!</div>
          </v-select>
        </div>
      </div>
    </div>
</template>

<script>
  import vSelect from 'vue-select'
  import 'vue-select/dist/vue-select.css'
  export default {
    name: 'TimeRangePicker',
    props: ['startDate', 'fromTime', 'toTime'],
    components: {
      vSelect
    },
    data: function () {
      return {
        minuteInterval: ['00', '15', '30', '45'],
        defaultStartTime: this.startDate,
        availableTimes: [],
        availableToTimes: [],
        timeFrom: null,
        timeTo: null,
        disabled: true
      }
    },
    methods: {
      calculateTimeToItems: function () {
        this.availableToTimes = JSON.parse(JSON.stringify(this.availableTimes))
        this.availableToTimes.splice(0, this.availableToTimes.indexOf(this.timeFrom))
      }
    },
    watch: {
      timeFrom: function () {
        this.disabled = this.timeFrom === null
        if (this.disabled) {
          this.timeTo = null
        }
        if (!this.disabled) {
          this.timeTo = ''
          this.calculateTimeToItems()
          this.$emit('input', [this.timeFrom, this.timeTo])
        }
      },
      timeTo: function () {
        if (this.timeFrom !== null && this.timeTo !== null) {
          this.$emit('input', [this.timeFrom, this.timeTo])
        }
      },
    },
    mounted: function () {
      // this.timeFrom = this.availableTimes[Math.round(this.availableTimes.length / 2)]
    },
    created () {
      if (this.fromTime && this.toTime) {
        this.timeFrom = this.fromTime
        this.timeTo = this.toTime
      }
      // this.defaultStartTime.setDate(22)
      var startingHour = new Date()
      startingHour.setHours(0)
      var today = false

      // if date is today
      if (this.defaultStartTime.getDate() === new Date().getDate()) {
        // set the starting hour to current hours
        startingHour.setHours(this.defaultStartTime.getHours())
        today = true
      }

      // loop through 24 hours of a day
      for (var i = startingHour.getHours(); i < 24; i++) {
        // loop through the 4 minute intervals
        for (var j = 0; j < 4; j++) {

          if (today) {
            var nextQuarter = new Date()
            nextQuarter.setHours(i)
            nextQuarter.setMinutes(this.minuteInterval[j])
            // if the next quarter has not passed yet (quarters are all quarter in the hour so 12:00, 12:15, 12:30 even though they have already passed, so we check if they still are needed)
            if (this.defaultStartTime <= nextQuarter) {
              this.availableTimes.push(i + ':' + this.minuteInterval[j])
            }
          } else {
            this.availableTimes.push(i + ':' + this.minuteInterval[j])
          }
        }
      }
    }
  }
</script>

<style scoped>

</style>
