<template>
  <div id="to-do-list-container">

    <div id="modal-container"  @click.self="toggleModal" v-if="modalVisable">
      <div id="modal-container-inner">
        <div id="modal">
          <div id="modal-header">
            <i v-on:click="toggleModal" class="fas fa-times fa-lg"/>
          </div>
          <div id="modal-new-task" v-if="modalType === 'new' ">
            <h1>Nieuwe taak</h1>
            <form-input givenType="text" givenText="Titel" v-model="title"/>
            <form-textarea givenText="Beschrijving" v-model="description"/>

            <div class="button-form">
              <fa-button-input @click.native="toggleModal" class="remove-btn" text="Annuleren"/>
              <fa-button-input text="Toevoegen" @click.native="!isDisabled ? onNew() : null" v-bind:class="{disabled: isDisabled}"/>
            </div>
          </div>

          <div id="modal-edit-task" v-if="modalType === 'edit' ">
            <h1>Taak wijzigen</h1>
            <form-input givenType="text" givenText="Titel" :givenValue="title" v-model="title"/>
            <form-textarea givenText="Beschrijving" :givenValue="description" v-model="description"/>

            <div class="button-form">
              <fa-button-input @click.native="deleteItem" class="remove-btn" text="Verwijderen"/>
              <fa-button-input text="Wijzigen" @click.native="!isDisabled ? updateItem() : null" v-bind:class="{disabled: isDisabled}"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="list-container-header">
      <div class="list-container-header-title">
        <h2>To do</h2>
        <fa-button-input icon="fas fa-plus" text=" Item aanmaken" @click.native="showNew"/>
      </div>
      <div class="list-container-header-title">
        <h2>In progress</h2>
      </div>
      <div class="list-container-header-title">
        <h2>Done!</h2>
      </div>
    </div>

    <div id="list-container">
      <div id="categories-container">
        <div class="list-category-container">
          <draggable v-model="todo" group="list-item" ghost-class="ghost" force-fallback="true" fallback-class="ghost-drag" :fallback-tolerance="5" @end="onMove" @start="whileMoving" :move="onMoveToOtherColumn" id="todo" class="list-category">
            <div class="list-item" v-if="!dragging.includes('todo-overlay')" v-for="(item, index) in todo" v-bind:key="index">
              {{item.title}}
              <i class="fas fa-ellipsis-v" @click="showDetails(index, $event)"/>
            </div>
            <div class="drag-overlay" id="todo-overlay" slot="footer">

            </div>
          </draggable>
        </div>

        <div class="list-category-container">
          <draggable v-model="inProgress" group="list-item" ghost-class="ghost" force-fallback="true"  fallback-class="ghost-drag" :fallback-tolerance="5" @end="onMove" @start="whileMoving" :move="onMoveToOtherColumn" id="inProgress" class="list-category">
            <div class="list-item" v-if="!dragging.includes('inProgress-overlay')" v-for="(item, index) in inProgress" v-bind:key="index">
              {{item.title}}
              <i class="fas fa-ellipsis-v" @click="showDetails(index, $event)"/>
            </div>
            <div class="drag-overlay" id="inProgress-overlay" slot="footer">

            </div>
          </draggable>
        </div>

        <div class="list-category-container">
          <draggable v-model="done" group="list-item" ghost-class="ghost" force-fallback="true" fallback-class="ghost-drag" :fallback-tolerance="5" @end="onMove" @start="whileMoving" :move="onMoveToOtherColumn" id="done" class="list-category">
            <div class="list-item" v-if="!dragging.includes('done-overlay')" v-for="(item, index) in done" v-bind:key="index">
              {{item.title}}
              <i class="fas fa-ellipsis-v" @click="showDetails(index, $event)"/>
            </div>
            <div class="drag-overlay" id="done-overlay" slot="footer">

            </div>
          </draggable>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import draggable from 'vuedraggable'
  import ButtonInput from '@/components/ButtonInput'
  import FaButtonInput from '@/components/ButtonInputFa'
  import FormInput from '@/components/FormInput'
  import FormTextarea from '@/components/FormTextarea'
  import * as axios from 'axios'
  export default {
    name: 'ToDoList',
    props: ['eventID', 'todoItems'],
    components: {FormTextarea, FormInput, FaButtonInput, draggable, axios},
    data: function () {
      return {
        todo: [],
        inProgress: [],
        done: [],
        modalVisable: false,
        title: '',
        description: '',
        isDisabled: true,
        store: this.$store,
        modalType: null,
        itemIndex: null,
        itemList: null,
        dragging: []
      }
    },
    created: function () {
      for (var i = 0; i < this.todoItems.length; i++) {
        switch (this.todoItems[i].status) {
          case 0:
            this.todo.push(this.todoItems[i])
            break
          case 1:
            this.inProgress.push(this.todoItems[i])
            break
          case 2:
            this.done.push(this.todoItems[i])
            break
        }
      }

      this.sortArrayByIndex(this.todo)
      this.sortArrayByIndex(this.inProgress)
      this.sortArrayByIndex(this.done)
    },
    methods: {
      onMoveToOtherColumn: function (obj) {
        var overlays = document.getElementsByClassName('drag-overlay')
        for (var i = 0; i < overlays.length; i++) {
          overlays[i].classList.remove('active')
          if (obj.to !== obj.from) {
            if (overlays[i] === obj.to.getElementsByClassName('drag-overlay')[0]) {
              console.log(overlays[i])
              overlays[i].classList.add('active')
            }
          }
        }
      },
      whileMoving: function (obj) {
        var overlays = document.getElementsByClassName('drag-overlay')

        for (var i = 0; i < overlays.length; i++) {
          if (overlays[i].id !== obj.from.id + '-overlay') {
            document.getElementById(overlays[i].id).style.display = 'block'
            this.dragging.push(overlays[i].id)
          }
        }
      },
      showDetails: function (index, event) {
        this.title = this[event.path[2].id][index].title
        this.description = this[event.path[2].id][index].description
        this.itemIndex = index
        this.itemList = event.path[2].id
        this.modalType = 'edit'
        this.toggleModal()
      },
      showNew: function () {
        this.modalType = 'new'
        this.title = ''
        this.description = ''
        this.toggleModal()
      },
      deleteItem: function () {
        for (var i = this.itemIndex + 1; i < this[this.itemList].length; i++) {
          this[this.itemList][i].index--
        }

        var toDeleteItemID = this[this.itemList][this.itemIndex]._id
        this[this.itemList].splice(this.itemIndex--, 1)

        axios.all([this.updateItemsRequest(this[this.itemList]), this.deleteItemRequest(toDeleteItemID)])
          .then(axios.spread(function (updateResponse, deleteItemResponse) {
            if (updateResponse.data.error || deleteItemResponse.data.error) {
            } else {
            }
          }))
          .catch(error => {
            console.log(error)
          })
      },
      updateItem: function () {
        console.log(this.title)
        console.log(this.description)
        console.log(this.itemIndex)
        console.log(this.itemList)

        var todoItem = this[this.itemList][this.itemIndex]
        var self = this
        axios
          .put(self.store.getters.apiURL + '/todo/put/by_id/' + todoItem._id, {
            title: self.title,
            description: self.description
          })
          .then(function (todoItemResponse) {
            if (todoItemResponse.data.error) {
            } else {
              self.toggleModal()
              self[self.itemList][self.itemIndex].title = todoItemResponse.data.result.title
              self[self.itemList][self.itemIndex].description = todoItemResponse.data.result.description
            }
          })
          .catch(error => {
            console.log(error)
          })
      },
      sortArrayByIndex: function (array) {
        array.sort(function (a, b) {
          return a.index - b.index
        })
      },
      onMove: function (obj) {
        var oldColumn = []
        var newColumn = []

        for (var i = obj.oldIndex; i < this[obj.from.id].length; i++) {
          this[obj.from.id][i]['index']--
          oldColumn.push(this[obj.from.id][i])
        }
        for (var x = obj.newIndex; x < this[obj.to.id].length; x++) {
          this[obj.to.id][x]['index']++
          newColumn.push(this[obj.to.id][x])

          if (x === obj.newIndex) {
            this[obj.to.id][obj.newIndex]['index'] = obj.newIndex
            switch (obj.to.id) {
              case 'todo':
                this[obj.to.id][obj.newIndex]['status'] = 0
                break
              case 'inProgress':
                this[obj.to.id][obj.newIndex]['status'] = 1
                break
              case 'done':
                this[obj.to.id][obj.newIndex]['status'] = 2
                break
            }
          }
        }

        axios.all([this.updateItemsRequest(oldColumn), this.updateItemsRequest(newColumn)])
          .then(axios.spread(function (oldColumnResponse, newColumnResponse) {
            if (oldColumnResponse.data.error || newColumnResponse.data.error) {
            } else {
            }
          }))
          .catch(error => {
            console.log(error)
          })
        var overlays = document.getElementsByClassName('drag-overlay')

        for (var z = 0; z < overlays.length; z++) {
            document.getElementById(overlays[z].id).style.display = 'none'
        }
        this.dragging = []
      },
      updateItemsRequest: function (items) {
        var self = this
        return axios
          .put(self.store.getters.apiURL + '/todo/put/given_todo_items/', {
            todo: items
          })
      },
      deleteItemRequest: function (itemid) {
        var self = this
        return axios
          .delete(self.store.getters.apiURL + '/todo/delete/by_id/' + itemid, {})
      },
      onNew: function () {
        var self = this
        axios
          .post(self.store.getters.apiURL + '/todo/new/', {
            eventID: self.$route.params.eventid,
            title: self.title,
            description: self.description,
            status: 0,
            index: self.todo.length
          })
          .then(function (todoItemResponse) {
            if (todoItemResponse.data.error) {
            } else {
              self.todo.push(todoItemResponse.data.result)
              self.toggleModal()
            }
          })
          .catch(error => {
            console.log(error)
          })
      },
      toggleModal: function () {
        this.modalVisable = !this.modalVisable

      }
    },
    computed: {
      watchSaveConditions: function () {
        return `${this.title}|${this.description}`
      }
    },
    watch: {
      watchSaveConditions: function () {
        if (this.title !== '' && this.description !== '') {
          this.isDisabled = false
        } else {
          this.isDisabled = true
        }
      }
    }
  }
</script>

<style scoped>

</style>
