<template>
    <div class="user-row" v-bind:class="{disabled: isDisabled}">
      <div class="user-info">
        <div class="initials">
          <h3>{{name.charAt(0).toUpperCase()}}</h3>
        </div>
        <div class="name">
          <p>{{name}}</p>
        </div>
      </div>
      <div class="status">
        <p v-if="status === 0">Gaat <i class="fas fa-check"/></p>
        <p v-if="status === 1">Misschien <i class="fas fa-tilde"/></p>
        <p v-if="status === 2">Gaat niet <i class="fas fa-times"/></p>
        <p v-if="status > 2">Nog niet aangegeven <i class="fas fa-question"/></p>
        <p v-if="deleteAction && !isDisabled" class="deleteAction"><i class="fas fa-times fa-lg"/></p>
        <p v-if="isDisabled" class="disabledIcon">Eigenaar <i class="fas fa-crown"/></p>
      </div>
    </div>
</template>

<script>
  export default {
    name: 'UserInfoRow',
    props: ['name', 'status', 'deleteAction', 'isDisabled']
  }
</script>

<style scoped>

</style>
