<template>
    <div class="user-comment">
      <b>Opmerking van:</b>
      <p>{{firstname}} {{lastname}} - {{email}}</p>
      <p>{{comment}}</p>
    </div>
</template>

<script>
  export default {
    name: 'UserComment',
    props: ['firstname', 'lastname', 'email', 'comment']
  }
</script>

<style scoped>

</style>
