<template>
  <v-select @search="fetchOptions" :options="fullOptions" :filterable="false" @input="optionSelected" v-model="value">
    <template slot="no-options">
      Zoek gebruikers op e-mail
    </template>
    <template slot="option" slot-scope="option">
      <div class="d-center">
        {{ option.email + ' - ' + option.firstname + ' ' + option.lastname }}
      </div>
    </template>
    <template slot="selected-option" slot-scope="option">
      <div class="selected d-center">
        {{ option.email }}
      </div>
    </template>
  </v-select>
</template>

<script>
  import vSelect from 'vue-select'
  import * as axios from 'axios'
  export default {
    name: 'UserSelector',
    props: ['disabledEmails'],
    components: {
      vSelect,
      axios
    },
    data: function () {
      return {
        store: this.$store,
        disabledOptions: [],
        fullOptions: [],
        value: null
      }
    },
    methods: {
      optionSelected: function (result) {
        this.$emit('input', result.email)
        this.value = null
      },
      fetchOptions: function (search, loading) {
        loading(true)
        this.searchCall(loading, search)
      },
      searchCall: function (loading, search) {
        var self = this
        if (search !== '') {
          axios
            .get(this.store.getters.apiURL + '/user/get/all_by_email_like/' + search, {
            })
            .then(function (response) {
              if (response.data.error) {
                self.errorMsg = response.data.errormsg
                self.msgType = 'warning'
                console.log(response)
              } else {
                self.msgType = 'success'
                self.options = []
                self.fullOptions = []

                for (var i = 0; i < response.data.result.length; i++) {
                  // self.options.push(response.data.result[i].email)
                  if (!self.disabledEmails.includes(response.data.result[i].email)) {
                    self.fullOptions.push(response.data.result[i])
                  }

                }
                loading(false)
              }
            })
            .catch(error => {
              self.errorMsg = ['Er is iets fout gegaan. Propeer het later opnieuw']
              self.msgType = 'warning'
              console.log(error)
            })
        } else {
          loading(false)
        }
      }
    }
  }
</script>

<style scoped>

</style>
