$maincolor: #06c4c6;
$altcolor: #059294;
$textcolor: #1a1a1a;
$backgroundcolor: #f1f1f1;
$warningcolor: #dc8604;
$errorcolor: #da2c2c;

$text: 21px;
$shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
$content-width: 1260px;

[v-cloak]{
  display:none
}

*{
  box-sizing: border-box;

}

.display-none{
  display: none;
}

.remove-btn{
  background-color: #f1f1f1;
  color: $errorcolor;
  font-weight: bold;
}

input, textarea, select{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-shadow: $shadow;
}

.vs__clear{
  box-shadow: none;
}

textarea{
  outline: none;
}

a{
  text-decoration: none;
  cursor: pointer;
}

button{
  padding: 12px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: $maincolor;
  box-shadow: $shadow;
  outline: none;
  cursor: pointer;
}

button:disabled, button[disabled]{
  background-color: #cccccc
}

h1, h2, h3, h4, h5{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 20px 0;
}

P{
  font-size: 14px;
  line-height: 22px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.small-text{
  font-size: 12px;
}

#new-appointment {
  display: none
}

#extra-message{
  a{
    cursor: pointer;
  }
}

#message{
  width: 100%;
  //width: fit-content;
  margin-bottom: 14px;
  //background-color: #dc8604;
  padding: 10px;
  color: white;
  box-shadow: $shadow;

  p{
    margin: 0;
  }

  a{
    color: white!important;
    text-decoration: underline;
  }
}

.warning {
  background-color: $warningcolor;
}

.warning-text-color {
  color: $warningcolor;
}

.success {
  background-color: $maincolor
}

.success-text-color {
  color: $maincolor
}

.pages{
  padding-top: 90px
}

#nav {
  padding: 20px;
  background-color: white;
  z-index: 999;
  position: fixed;
  width: 100%;
  box-shadow: $shadow;
  top: 0;

  .content{
    width: 90%;
  }

  a{
    color: #1f1f1f;
    font-weight: bold;
  }

  a i{
    color: $maincolor
  }

  #menu{
    display: flex;
    justify-content: space-between;

    img{
      width:200px;
    }

    #menu-items{
      //width: 40%;
      width: 65%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      #open-menu{
        cursor: pointer;
        //right: 0
      }

      #open-menu:hover{
        color: $maincolor;
      }



      a{
        margin: 0 20px;
      }

      button{
        font-family: "Roboto", sans-serif;
        font-weight: bold;

        i{
          color: white;
        }
      }
    }
  }
}


#retractable-menu{
  width: 300px;
  background-color: white;
  box-shadow: $shadow;
  height: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  right: -301px;
  //right: 0;
  padding: 20px;
  transition: right 0.5s, left 0.5s;

  #exit-button{
    margin: 10px 0 30px 0;
    display: flex;
    justify-content: flex-end;
    //right: 0
  }

  #exit-button i:hover{
    color: $maincolor;
    cursor: pointer;
  }

  #retractable-menu-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;

    a{
      color: #1f1f1f;
      font-weight: bold;
      margin-top: 30px;
    }

    a i{
      color: $maincolor
    }
    button{
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      width: 100%;

      i{
        color: white;
      }
    }


  }
}

.input-image{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  input{
    width: fit-content!important;
  }
}

input#input-image{
  width: 10px!important;
}

.input-image + label {
  color: white;
  background-color: $maincolor;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: $shadow;
  margin-top: 20px;
}

.input-image:focus + label,
.input-image + label:hover {
  background-color: $altcolor;
  cursor: pointer;
}


.content{
  width: $content-width;
  margin: auto;
}

body{
  background-color: $backgroundcolor;
  margin: 0;
  overflow-x: hidden;
}


#notifications-checkbox{
  margin-top: 20px;
}

#terms-of-agreement{
  label {
    margin-bottom: 0;
  }
}

#app, textarea{
  font-family: 'Open Sans', sans-serif;
  color: #2c3e50;
}


#edit-password-form-container{
  form{

  }
}

#verify-account-container{
  width: 900px!important;
  margin: auto;

  #verify-account-inner {
    background-color: white;
    box-shadow: $shadow;
    padding: 40px;
    text-align: center;
  }
}

.remove-btn{
  background-color: #f1f1f1;
  color: #da2c2c;
  font-weight: bold;
}

#profile-container, #edit-password-container, #verify-account{
  margin-top: 100px;

  #profile-form-container, #edit-password-form-container{
    width: 600px;
    margin: auto;

    #profile-form, #edit-password-form{
      background-color: white;
      box-shadow: $shadow;
      padding: 40px;

      form{
        display: flex;
        flex-direction: column;

        #personal-info, #edit-password-inputs{
          display: flex;
          .form-half{
            width: 50%;
            margin-right: 5px;
            input{
              width: 100%;
            }
          }

          .form-half:first-child{
            margin-right: 5px;
          }

          .form-half:last-child{
            margin-left: 5px;
          }
        }

        .form-half{
          display: flex;
        }

        a{
          font-weight: bold;
          color: $maincolor;
          font-size: 14px;
        }

        #lower-buttons{
          display: flex;
          justify-content: space-between;

          #remove-account{
            background-color: #f1f1f1;
            color: #da2c2c;
            font-weight: bold;
          }

          button{
            width: fit-content
          }
        }

        #info{
          width: 100%;

          input[type=text]{
            width: 100%;
          }

          div{
            margin-top: 20px;
          }
        }
        button{
          width: 100px;
          align-self: flex-end;
        }

        #lower-buttons{
          margin-top: 50px;
        }
      }
    }
  }
}

#edit-password-container{
  #edit-password-form-container{
    #edit-password-form{
      #edit-password-inputs{
        flex-wrap: wrap;
        width: 100%;
        div{
          width: 100%;
          margin-top: 20px;
          input{
            width: 100%;
          }
        }
      }

      #lower-buttons{
        justify-content: flex-end!important;
      }
    }
  }
}



#reset-password{

}


#login-container, #register-container, #reset-password-container{
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


  #login-message-container, #register-message-container, #reset-password-message-container{
    width: 480px
  }



  #login-form-container, #register-form-container, #reset-password-form-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: $shadow;
    padding: 40px;
  }

  input{
    margin-top: 20px;
    width: 100%;

  }

  h1{
    margin-bottom: 0;
  }

  #reset-password{
    margin-top: 0;
  }

  a{
    color: $maincolor;
    font-weight: bold;
  }

  form{
    display: flex;
    flex-direction: column;
  }

  button{
    width: fit-content;
    align-self: flex-end;
    margin-top: 20px;
  }
}


.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
  /* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


.checkbox{
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 20px;
  width: fit-content;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
  }

  .checkmark:after{
    left: 7px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  :hover{
    background-color: #ccc;
  }

  :checked ~ .checkmark {
    background-color: $maincolor;
  }

  :checked ~ .checkmark:after {
    display: block;
  }

  :after{
    content: "";
    position: absolute;
    display: none;
  }

}

.shimmer{
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;

  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.skeleton-container {
  width: 25%;
  padding: 10px;

  .skeleton-inner {
    //box-shadow: $shadow;
    background-color: #ffffffba;

    $skeleton-background-color: #f7f7f7;


    .skeleton-upper {
      background-color: $skeleton-background-color;
      width: 100%;
      height: 165px;
    }

    .skeleton-lower{
      height: fit-content;
      display: flex;
      flex-direction: column;
      padding: 10px;

      div{
        margin-bottom: 10px;
      }


      div:last-child{
        margin-bottom: 0;
      }

      .skeleton-title{
        width: 60%;
        height: 23px;
        background-color: $skeleton-background-color;
      }

      .skeleton-time{
        width: 40%;
        height: 18px;
        background-color: $skeleton-background-color;
      }

      .skeleton-location{
        width: 20%;
        height: 18px;
        background-color: $skeleton-background-color;
      }

      .skeleton-description{
        width: 100%;
        margin-bottom: 5px;
        height: 10px;
        background-color: $skeleton-background-color;
      }

      .skeleton-button-group{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .skeleton-button{
          width: 25%;
          height: 45px;
          background-color: $skeleton-background-color;
          border-radius: 5px;
          margin-right: 20px;
          margin-bottom: 0;
        }

        .skeleton-button-status{
          margin-top: 0;
          width: 30%;
          height: 10px;
          background-color: $skeleton-background-color;
        }
      }


    }
  }
}


#dashboard{

  .content{
    margin-top: 30px;

    .events-container, #real-events-container{
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      a{
        text-decoration: none;
        color: $textcolor
      }


      .event-container{
        width: 25%;
        padding: 10px;
        //height: 100%;

        .event-availability-container{
          height: 450px;
          box-shadow: $shadow;
          .event {
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 100%;

            img{
              width: 100%;
              height: 180px;
            }

            .event-upper{
              width: 100%;
              margin-bottom: 0;
              background-color: white;
              display: flex;
              align-items: flex-end;
              position: relative;
            }


            .edit-container{
              position: absolute;
              align-self: flex-start;
              right: 0;

              .edit{
                padding: 5px;
                margin: 5px;
                color: white;
                background-color: $maincolor;
                border-radius: 5px;
                opacity: 0.5;
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
              }

              .edit:hover{
                opacity: 1;
              }
            }


            .date{
              position: absolute;
              padding: 10px;
              color: white;
              background-color: $maincolor;
              font-weight: bold
            }

            .event-lower{
              background-color: white;
              padding: 10px;
              margin-top: 0;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;


              .availability{
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: left;

                button{
                  margin-right: 20px;
                  font-family: "Roboto", sans-serif;
                  font-weight: bold;
                  padding: 10px 20px;
                }

              }
            }

            .event-lower div{
              margin-top: 5px;
            }

            .event-title{
              font-weight: bold;
              font-size: 20px;
            }

            .event-location{
              margin-bottom: 20px;
            }
          }
        }

      }
    }
  }
}


.choices{
  //display: none;
  display: flex;
  background-color: white;
  margin-top: 10px;
  box-shadow: $shadow;
  padding: 10px;
  justify-content: space-between;
  width: 50%;

  button{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 0;
    margin: 0 5px;
    background-color: #cccccc;
  }

  :disabled{
    //background-color: gray;
    background-color: $maincolor;
  }
}

#invited{
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.user-row{
  width: 49%;
  background-color: white;
  box-shadow: $shadow;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;



  i{
    margin-left: 5px;
    width: 15px;
    text-align: center;
  }

  .user-info{
    display: flex;
    width: 70%;
    .initials{
      background-color: $maincolor;
      //border-radius: 100%;
      border-radius: 5px;
      height: 50px;
      width: 50px;
      box-shadow: $shadow;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
    }

    .name{
      //text-transform: capitalize;
    }
  }
}

#comments{
  h1{
    margin: 0;
    padding: 20px 0;
  }
  .user-comment{
    background-color: white;
    padding: 20px;
    width: 100%;
    box-shadow: $shadow;
    margin-bottom: 20px;
    border-radius: 10px;
  }
}


#add-modal{
  background-color: blue;
  width: 500px;
  height: 300px;
  position: absolute;
  margin: auto;
}

.ghost {
  //display: none!important;
  //opacity: 1.0;
  ////background: $maincolor;
  position: absolute;
}

.ghost-drag {
  opacity: 1!important;
  background-color: white;
}

#to-do-list-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 700px;

  .disabled{
    background-color: #cccccc;
    //background-color: rgba(0,0,0,.13);
    cursor: auto;
  }


  .input{
    display: flex;
    flex-direction: column;
  }

  label{
    margin-bottom: 5px;
  }

  input{
    width: 100%;
    margin-bottom: 20px;
  }

  textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 100px;
  }

  #list-container-header{
    display: flex;
    height: 20%;

    .list-container-header-title{
      width: 33%;
      margin: 5px;

    }
  }

  #list-container {
    overflow-y: scroll;
    min-height: 80%;

    #categories-container{
      display: flex;
      height: fit-content;
      min-height: 100%;

      .list-category-container{
        width: 33%;
        margin: 5px;
        display: flex;
        flex-direction: column;
        background-color: white;
        position: relative;

        .drag-overlay{
          height: 100%;
          width: 100%;
          position: absolute;
          background-color: #e4fdfd;
          border: 3px dashed #06c4c6;
          display: none;
        }

        .active{
          background-color: #d7f9cd;
          border: 3px dashed #06c61e;
        }

        .list-category{
          height: 100%;

          .list-item{
            width: 100%;
            margin: 2px;
            padding: 20px;
            box-shadow: $shadow;
            cursor: grab;
            display: flex;
            justify-content: space-between;

            i{
              cursor: pointer;
              width: 10px;
              text-align: center;
            }

            i:hover{
              color: $maincolor
            }
          }
        }
      }
    }
  }
}

#event-container-outer{
  position: relative;
  .main-view{
    padding-bottom: 50px;
  }
}

#event-menu{
  width: 80px;
  background-color: white;
  top: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  //min-height: 100vh;

  #event-menu-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;

    .event-menu-item{
      padding: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      cursor: pointer;

    }

    .event-menu-item:first-child{
      margin-top: 40px
    }

    .active{
      background-color: $backgroundcolor;
      color: $maincolor;
    }
  }
}

#event-container{
  width: $content-width;
  margin: auto;

  #header{
    padding-top: 30px;
    h1 {
      margin-top: 0;
    }
  }

  #event-container-inner{
    background-color: white;
    box-shadow: $shadow;
    display: flex;

    #event-img{
      width: 50%;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    #event-details{
      width: 50%;
      padding: 20px;

      display: flex;
      flex-direction: column;
      //justify-content: space-between;

      #icons-top, #description{
        margin-bottom: 30px;
      }

      p{
        margin: 0;
      }

      #event-details-upper{
        display: flex;
        margin-top: 10px;
        width: 100%;

        ul{

          li{
            margin: 10px 0;

            i{
              color: $maincolor;
              width: 30px;
              text-align: center;
            }
          }

        }

        #event-details-icons{
          width: 77%;

        }

       #event-details-status{
         display: flex;
         flex-direction: column;
         width: 23%;
         align-items: flex-end;

         #status-details{
           width: 100%;
           text-align: center;
         }

         .choices {
           padding: 0;
           width: 100%;
           box-shadow: none;
           margin: 5px 0 0 0;

         }
       }

      }
    }
  }

  #event-details-lower{
    display: flex;
    background-color: white;
    box-shadow: $shadow;
    padding: 20px;
    margin-top: 20px;


    #remarks-form{
      width: 100%;
      margin: 0;

      #remarks{
        margin: 0;
        textarea{
          width: 100%;
        }
      }
    }

    form{
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      textarea{
        max-width: 100%;
        max-height: 120px;
        min-height: 120px
      }

      button{
        width: 80px;
        margin-top: 10px;
        align-self: flex-end;
      }

      #remarks{
        margin-right: 5px;
      }
    }
  }
}

#step-counter{
  display: flex;
  justify-content: center;
  align-items: center;

  .step-item{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .step{
    border: 2px solid $maincolor;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: $shadow
  }

  .stepActive{
    color: white;
    background-color: $maincolor;
    border: none;
  }

  .stepOver{
    color: white;
    background-color: #d2d2d2;
    border: none;
  }

  .divider{
    height: 4px;
    width: 20px;
    overflow: hidden;
    margin: 0 10px;

    stroke: $maincolor;
    stroke-width: 4;
  }
}

.step{
  border: 2px solid $maincolor;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: $shadow;

  i{
    color: $maincolor;
  }
}

.step-warning{
  border: 2px solid $errorcolor;
  i{
    color: $errorcolor;
  }
}


.vdp-datepicker{
  box-shadow: $shadow;
  width: fit-content;

  .vdp-datepicker__calendar{
    border-radius: 5px;
    .cell.selected{
      background: $maincolor;
      color: white;
      border-radius: 5px;
    }
  }

}

#timepicker-container, #time{

  ::-webkit-scrollbar {
    display: none;
  }

  .vtimeselector__input{
    outline: none;
    cursor: pointer;
  }

  .timeselector__box__item--is-selected{
    background: $maincolor
  }
}


#presetForm{
  div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  input{
    width: 100%;
  }
}

#save-overwrite-preset{
  background-color: white;
  box-shadow: $shadow;
  width: 100%;
  padding: 20px;
}


#new-event-container{
  width: 100%;

  #content{
    width: $content-width;
    margin: auto;

    #new-event{
      width: 50%;
      margin: auto;
      background-color: white;
      padding: 20px;
      box-shadow: $shadow;
      margin-top: 50px;

      .container{
        padding: 20px;
      }

      #presetStep{
        h2{
          text-align: center
        }
      }

      #step1{
        margin-top: 30px;
        //width: 100%;

        .carousel {
          margin-top: 5px;
        }

        .owl-dot{
          border: none;
          box-shadow: none;
        }

        .owl-theme .owl-nav {
          display: flex;
          justify-content: space-between;

        }

        .owl-theme .owl-nav [class*='owl-']{
          background: none;
          color: $maincolor;
        }


        .owl-stage{
          height: 100%;
          .owl-item {
            object-fit: cover;
            //padding-right: 10px;
            height: 125px;

            .carousel-item{
              height: 100%;
              position: relative;
              img{
                object-fit: cover;
                border-radius: 5px;
                height: 100%;
              }
              .carousel-item-overlay{
                width: 100%;
                position: absolute;
                top: 0;
                height: 100%;
                opacity: 0;
                transition: opacity 0.5s ease;

                .overlay-content{
                  background-color: #0000002e;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 100%;
                  color: white;
                  cursor: pointer;

                  i{
                    box-shadow: $shadow;
                  }
                }
              }
            }
          }
        }

        > div{
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-top: 20px;

          input{
            margin-top: 5px;
            width: 100%;
          }

          textarea{
            margin-top: 5px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100px;
          }
        }
      }

      #step2{
        margin-top: 30px;
        display: flex;
        justify-content: center;
      }

      #step3 {
        .time-range-picker{
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          .time-boxes{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            .time-from, .time-to{
              width: 50%;
              display: flex;
              //justify-content: center;
              align-items: center;
              flex-direction: column;
            }

            .time-select{
              width: 80%;
            }
          }
        }
      }

      #location-container, #users-container{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 20px;

        input{
          width: 100%;
        }
      }

      #users-container{
        flex-direction: row;
        div{
          width: 90%
        }
        button{
          width: 37px;
          height: 37px;
          padding: 0;
          align-self: flex-end;
          margin-left: 5px;
        }
      }

      #invited-users-list{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;



        .user-row{
          width: 100%;
          background-color: $maincolor;
          box-shadow: $shadow;
          margin-bottom: 10px;
          padding: 0;
          display: flex;
          justify-content: space-between;
          border-radius: 5px;
          color: white;
          font-weight: bold;
          align-items: center;
          cursor: pointer;


          .deleteAction{
            margin-right: 20px;
          }

          .disabledIcon{
            margin-right: 20px;
          }


          i{
          }

          .user-info{
            align-items: center;

            p{
              font-size: 15px;
            }
            .initials{
              background-color: rgba(0,0,0,.13);
              border-radius: 5px 0 0 5px;
              color: $maincolor;
              box-shadow: none;
              height: 50px;
              width: 50px;
            }
          }
        }


        .disabled {
          background-color: #cccccc;
          //background-color: rgba(0,0,0,.13);
          cursor: auto;

          .user-info{
            .initials{
              //background-color: transparent;
              color: white;
            }
          }
        }



        //button{
        //  margin: 5px;
        //  padding: 30px;
        //  width: 100%;
        //}
      }

      .finished-header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        a{
          color: $altcolor;
          font-weight: bold;
        }
      }

      #buttons-form{
        margin-top: 30px;
        display: inline-flex;
        width: 100%;

        #button-left{
          width: 50%;
        }

        #button-right{
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
      }
    }
  }
}

.vtimeselector__box{
  border: 1px solid #cccccc;
  border-top: none;
  box-shadow: $shadow;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}


#map-and-directions{
  padding-top: 50px;
  width: 100%;
  height: 700px;

  #map-directions-container{
    width: 100%;
    display: flex;


    #location-selector{
      width: 30%;
      margin-left: 20px;

      #location-input {
        background-color: white;
        padding: 20px;
        box-shadow: $shadow;
      }


      #location-info{
        padding: 20px;
        background-color: white;
        box-shadow: $shadow;
        width: 100%;

        h2{
          text-align: center;
        }

        #to-from-container{
          display: flex;
          flex-direction: column;
          width: 100%;

          .location-item{
            display: flex;
            .icon{
              width: 10%;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 5px;
            }
            .location{
              width: 90%;
            }

            i{
              color: $altcolor
            }

            #destination{
              font-size: 20px;
            }

            #between-icon{
              display: flex;
              flex-direction: column;
              font-size: 5px;


              i{
                margin-bottom: 5px;
              }

              i:last-child{
                margin-bottom: 0;
              }
              //font-size: xx-large;
              //margin: -10px 0;
            }

          }
        }

        #directions{
          max-height: 500px;
          overflow-y: scroll;
          .adp-summary{
            display: none;
          }
        }

      }

      input{
        width: 100%;
      }
    }

    #google-map{
      width: 70%;
      height: 700px;
    }
  }


}


#edit-event-container{
  width: 100%;
  margin-top: 50px;

  #content{
    width: 800px;
    margin: auto;

    #event-edit-form-container {
      background-color: white;
      box-shadow: $shadow;
      padding: 20px;
      display: flex;
      flex-direction: column;


      #users-container{
        div{
          label:last-child{
            margin-bottom: 0!important
          }
        }
      }

      div {
        margin-top: 40px;

        label{
          font-weight: bold;
          margin-bottom: 10px;
          display: block;
        }

      }

      #time-and-date{
        display: flex;

        #time{
          width: 40%;
          margin-top: 0;
          margin-left: 50px;

          p:first-child{
            margin-top: 0;
          }

          div{
            margin-top: 0;
          }

          #location-container{
            margin-top: 20px!important;
            display: block;
          }
        }

        #date{
          width: 40%;
          margin-top: 0;

          .vdp-datepicker {
            margin-top: 0;

            .vdp-datepicker__calendar{
              margin-top: 0!important;
            }

            div{
              height: fit-content
            }
          }
        }
      }

      div:first-child {
        margin-top: 0;
      }

      input, textarea {
        width: 100%;
      }

      textarea{
        min-width: 100%;
        max-width: 100%;
        min-height: 100px;
      }

      #users-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        div{
          width: 100%
        }
        button{
          width: 37px;
          height: 37px;
          padding: 0;
          align-self: flex-end;
          margin-left: 5px;
        }
      }

      #invited-users-list{
        display: flex;
        flex-wrap: wrap;
        button{
          margin: 5px;
          width: 32%
        }
      }

      #save-and-cancel{
        width: 100%;
        display: flex;
        justify-content: space-between;

      }

    }

  }
}

#modal-container{
  background-color: #7d7d7dad;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  //display: none;

  #modal-container-inner{
    width: 500px;
    min-height: 220px;
    background-color: white;
    box-shadow: $shadow;
    padding: 20px;

    #modal{

      #modal-header{
        display: flex;
        justify-content: flex-end;

        i:hover{
          color: $maincolor;
          cursor: pointer;
        }
      }

      h3 {
        text-align: center;
        margin-top: 30px;
      }

      #button-form{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
      }

      .button-form{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
      }
    }
  }
}

// 1400
// 1080
// 830
// 630

@media only screen and (max-width: 600px) {

  // Navbar
  #nav{
    .content{
      width: 100%;
      #menu{
        //flex-direction: column;
        img{
          width: 150px;
        }

        #menu-items{
          width: 100%;
          //justify-content: flex-start;
          //flex-wrap: wrap;
          //align-items: flex-start;
          a{
            padding: 0;
            margin: 10px 10px 10px 0
          }

          #new-appointment{
            display: flex;

            i{
              margin-right: 4px;
            }
          }

          #new-appointment-button{
            display: none;
          }
        }
      }
    }
  }

  // mijn afspraken / mijn uitnodigingen
  #dashboard{
    .content{
      width: 100%;
      h1{
        margin-left: 10px;
      }
      .events-container {
        .event-container{
          width: 100%;

          .choices{
            width: 40%;
          }
        }
      }
    }
  }

  .skeleton-container {
    width: 100%;
  }

  .profile{
    .content{
      width: 100%;
      #profile-container{
        margin-top: 30px;
        #profile-form-container{
          padding: 5px;
          width: 100%;

          #profile-form{
            form{
              #info{


                .checkbox-input{
                  width: 5px;
                }
              }
            }
          }
        }
      }
    }
  }

  .login, .register, .reset-password, #edit-password, #verify-account{
    .content{
      width: 100%;

      #verify-account-container{
        width: 100%!important;
        padding: 5px;
      }

      #login-container, #register-container, #reset-password-container, #edit-password-container #verify-account-container{

        padding: 5px;

        #edit-password-form-container, #verify-account-inner{
          width: 100%;
        }

        #login-form-container, #register-form-container, #edit-password-form{
          img{
            width: 100%;
          }
        }
      }
    }
  }

  #new-event-container{
    padding: 5px;
    #content{
      width: 100%;

      #new-event{
        width: 100%;

        #step-counter{
          .divider{
            width: 20px;
          }
        }

        #step2{
          flex-wrap: wrap;
        }
      }
    }
  }

  #edit-event-container{
    #content{
      width: 100%;
      padding: 5px;

      #event-edit-form-container{
        #time-and-date{
          flex-direction: column;

          #time{
            margin-left: 0;
            margin-top: 20px;
            width: 100%;
          }
        }

        #invited-users-list{
          button{
            width: 100%
          }
        }

      }
    }
  }


  #event-container{
    padding: 5px;
    width: 100%;
    #event-container-inner{
      display: flex;
      flex-direction: column;

      #event-img{
        width: 100%;
      }

      #event-details{
        width: 100%;

        #event-details-upper{
          #event-details-status{
            #status-details{
              width: 70%;


            }
          }
        }

      }
    }
  }

}

