<template>
  <div id="app" @click.native="toggleSideMenu">
    <div id="nav">
      <div class="content">
        <div id="menu">
          <div id="menu-logo">
            <router-link to="/"><img alt="GathrUp logo" src="./assets/GathrUp-logo-400.png"/></router-link>
          </div>
          <div id="menu-items">
            <div id="open-menu" >
              <i v-on:click="toggleSideMenu" ref="toggle-button" class="fas fa-bars fa-2x"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="retractable-menu" ref="retractable-menu">
      <div id="retractable-menu-content">
        <fa-button-input-link v-if="loggedIn" @click.native="toggleSideMenu" id="new-appointment-button"
                              text=" Afspraak maken" thelocation="/new" icon="fa fa-plus"/>
        <router-link v-if="loggedIn" @click.native="toggleSideMenu" to="/"><i class="fas fa-calendar-check"/> Afspraken</router-link>
<!--        <router-link v-if="loggedIn" @click.native="toggleSideMenu"  :to="{ name: 'invites', params: { id: 123 }}"><i class="fas fa-envelope"></i> Uitnodigingen</router-link>-->
        <router-link v-if="loggedIn" @click.native="toggleSideMenu" to="/profile"><i class="fas fa-user-circle"/> Profiel</router-link>
        <router-link v-if="!loggedIn" @click.native="toggleSideMenu" to="/login"><i class="fas fa-sign-in"/> Log in</router-link>
        <router-link v-if="loggedIn" @click.native="logoutAndCloseSidebar" to="/login"><i class="fas fa-sign-out"/> Log uit</router-link>
        <router-link v-if="loggedIn" @click.native="toggleSideMenu" id="new-appointment" to="/new"><i
          class="fa fa-plus"/> Afspraak maken</router-link>
      </div>
    </div>

    <router-view :key="Math.random(1, 5)" class="pages"/>

  </div>
</template>

<script>
  import FaButtonInputLink from '@/components/ButtonInputFaLink'
  import SkeletonEvent from '@/components/SkeletonEvent'
  export default {
    mapsApiKey: process.env.VUE_APP_GOOGLE_MAPS_KEY,
    components: { FaButtonInputLink },
    methods: {
      logout () {
        this.store.commit('logout')
        this.$router.push('/login')
      },
      login () {
        this.store.commit('login')
      },
      toggleSideMenu () {
        if (this.$refs['retractable-menu'].style.right !== '0px') {
          this.$refs['retractable-menu'].style.right = '0'
          this.$refs['toggle-button'].classList.remove('fa-bars')
          this.$refs['toggle-button'].classList.add('fa-times')
        }
        else {
          this.$refs['retractable-menu'].style.right = '-301px'
          this.$refs['toggle-button'].classList.add('fa-bars')
          this.$refs['toggle-button'].classList.remove('fa-times')
        }
      },
      logoutAndCloseSidebar () {
        this.toggleSideMenu()
        this.logout()
      }
    },
    computed: {
      loggedInState () {
        return this.store.state.loggedIn
      }
    },
    data: function () {
      return {
        store: this.$store,
        loggedIn: this.$store.state.loggedIn,
        viewKey: null
      }
    },
    watch: {
      loggedInState (newVal, oldVal) {
        this.loggedIn = newVal
      }
    }
  }
</script>
